-var illlustr = './images/illustr/Tolk_illustration_podpiska.png'


footer.b-footer
    .container
        .b-footer__wrap
            .b-footer__content
                .b-footer__top
                    .b-footer__main-menu
                        .main-menu
                            .main-menu__link
                                a(href='') Политика
                            .main-menu__link
                                a(href='') Экономика
                            .main-menu__link
                                a(href='') Культура
                            .main-menu__link
                                a(href='') Спорт
                            .main-menu__link
                                a(href='') Новости
                            .main-menu__link
                                a(href='') Афиша

                    .b-footer__sub-menu
                        .sub-menu
                            .sub-menu__link
                                a(href='') Политика
                            .sub-menu__link
                                a(href='') Общество
                            .sub-menu__link
                                a(href='') Экономика
                            .sub-menu__link
                                a(href='') Бизнес
                            .sub-menu__link
                                a(href='') Происшествия
                            .sub-menu__link
                                a(href='') Культура
                            .sub-menu__link
                                a(href='') Спорт
                            .sub-menu__link
                                a(href='') О проекте
                            .sub-menu__link
                                a(href='') Реклама

                .b-footer__middle
                    .b-footer__sub
                        p
                            span Подпишись на рассылку портала «ТОЛК»
                            span Рассылка не содержит рекламных материалов
                        .b-footer__email
                            form.b-form
                                p.b-form__item
                                    input(type='email' placeholder='Введите ваш e-mail' required)
                                .b-form__submit
                                    button Отправить
                    .b-footer__description
                        p Информационное агентство «ТОЛК» СМИ зарегистрировано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор). Свидетельство о регистрации  ПИ № ФС 77 - 71134 от 27.09.2017 г.
                        .b-footer__links
                            a(href='').hover-link Пользовательское соглашение
                            a(href='').hover-link Политика конфиденциальности

                .b-footer__bottom
                    .b-footer__copy © 2018, ТОЛК — интернет портал
                    .b-footer__social
                        include ../blocks/_social

            .b-footer__aside
                .b-footer__contact
                    p По вопросам рекламы и сотрудничества
                    p
                        a(href='tel:88002001000').hover-link 8 (800) 200 - 10 - 00
                        a(href='mailto:info@tolk.ru').hover-link info@tolk.ru
                    a(href='#popup-sub-news').b-footer__subscription.js-popup Обратная связь

                .b-footer__other
                    .b-footer__enter Нашли опечатку?
                        span Ctrl+Enter
                    p
                        span.b-footer__adult 18+
                        span.b-footer__design Design -
                            a(href='http://mahaev.com/' target='_blank') Mahaev Nikita


    #popup-sub-news.b-popup.b-popup--sub.mfp-hide
        .b-popup__wrap
            .b-popup__img
                img(src=illlustr alt='')
            .b-popup__title Подписаться на новости
            .b-popup__desc Подпишись на рассылку портала «ТОЛК» и получай первым, самые свежие новости.
            form.b-popup__form.b-form
                .b-form__b-email
                    .b-form__item
                        input(type='email' placeholder='Введите E-mail')
                    .b-form__submit
                        button Подписаться
