-var img1 = './images/main/header-icon.jpg'

.b-header.b-header--bg-black
    .container
        .b-header__wrap
            .b-header__content
                div
                    .b-header__hamburgers
                    a(href='').b-header__logo
                    .b-header__main-menu
                        .main-menu
                            .main-menu__link
                                a(href='') Политика
                            .main-menu__link
                                a(href='') Экономика
                            .main-menu__link
                                a(href='') Культура
                            .main-menu__link
                                a(href='') Спорт
                            .main-menu__link
                                a(href='') Новости

                        .b-header__search
                            .b-header__search-ico.js-search
                            form.b-form
                                p.b-form__item
                                    input(placeholder='Поиск')
                            .b-header__search-close.js-search-close
                div
                    .b-header__forex
                        .b-header__forex-unit.b-header__forex-unit--usd 63,46
                        .b-header__forex-unit.b-header__forex-unit--eur 75,98
                    a(href='#popup-auth').b-header__enter.hover-link.js-popup Войти
            .b-header__aside
                .b-header__aside-img
                    img(src=img1 alt='')
                .b-header__aside-text Путин подарил Трампу футбольный мяч.
                a(href='').b-header__aside-link См.
