-var img1 = './images/main/header-icon.jpg'
-var imgNews_Section_mini = 'https://loremflickr.com/g/60/60/people'

.b-header
    .container
        .b-header__wrap
            .b-header__content
                div
                    .b-header__hamburgers
                    a(href='').b-header__logo
                    .b-header__main-menu
                        .main-menu
                            .main-menu__link
                                a(href='') Политика
                            .main-menu__link
                                a(href='') Экономика
                            .main-menu__link
                                a(href='') Культура
                            .main-menu__link
                                a(href='') Спорт
                            .main-menu__link
                                a(href='') Новости

                        .b-header__search
                            .b-header__search-ico.js-search
                            form.b-form
                                p.b-form__item
                                    input(placeholder='Поиск')
                            .b-header__search-close.js-search-close
                div
                    .b-header__forex
                        .b-header__forex-unit.b-header__forex-unit--usd 63,46
                        .b-header__forex-unit.b-header__forex-unit--eur 75,98
                    .b-header__ico
                        img(src=imgNews_Section_mini alt='')

            .b-header__aside
                .b-header__aside-img
                    img(src=img1 alt='')
                .b-header__aside-text Путин подарил Трампу футбольный мяч.
                a(href='').b-header__aside-link См.
        .b-header__sub-menu
            .sub-menu
                .sub-menu__link
                    a(href='') Протесты в Армении
                .sub-menu__link
                    a(href='') Битва за Telegram
                .sub-menu__link
                    a(href='') Война в Сирии
