-var imgNews_1 = 'https://loremflickr.com/g/960/420/nature'
-var imgNews_2 = 'https://loremflickr.com/g/962/422/nature'

.news-slider.news-slider--mini
    .news-slider__wrap.js-news-slider
        .news-slider__item
            .news.news--slider
                a(href='').news__img
                    img(src=imgNews_1 alt='')
                .news__content
                    h3
                        a(href='') Лучшие фотографии  2018 года, сделанные на iPhone
                    .news__info
                        a(href='').news__label.label Культура
                        span
                        a(href='')
                            time 24.07.2018
                                span 15:30
                        a(href='').news__comments.comments 10

        .news-slider__item
            .news.news--slider
                a(href='').news__img
                    img(src=imgNews_2 alt='')
                .news__content
                    h3
                        a(href='') Лучшие фотографии  2018 года, сделанные на iPhone
                    .news__info
                        a(href='').news__label.label Культура
                        span
                        a(href='')
                            time 24.07.2018
                                span 15:30
                        a(href='').news__comments.comments 10
