.social.social--login
    a(href='').social__item.social__item--vk
    a(href='').social__item.social__item--tw
    a(href='').social__item.social__item--fb
    a(href='').social__item.social__item--ok
    a(href='').social__item.social__item--gplus
