.b-about {

}

.b-about__content {
  max-width: 630px;
  margin: auto;

  @include bp($bp-894) {
    max-width: 700px;
  }

  p {
    font-family: $Roboto;
    font-size: 19px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: left;
    color: $black;
    margin-bottom: 40px;

    @include bp($bp-540) {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 30px;
    }

    b {
      font-weight: 500;
    }
  }

  h3 {
    font-family: $Roboto;
    font-size: 19px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: center;
    color: $black;
    margin-bottom: 20px;

    @include bp($bp-540) {
      font-size: 16px;
      margin-bottom: 10px;
      text-align: left;
    }
  }
}

.b-about__two-article {
  margin-bottom: 40px;

  @include bp($bp-540) {
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 30px;

    @include bp($bp-540) {
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.b-about__persons {
  margin-bottom: 80px;

  @include bp($bp-894) {
    margin-bottom: 60px;
  }

  @include bp($bp-540) {
    margin-bottom: 40px;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      @include bp($bp-540) {
        flex-wrap: wrap;
        margin-bottom: 18px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      p {
        width: calc(100%/3);
        padding-right: 27px;
        margin-bottom: 0;

        @include bp($bp-894) {
          width: 186px;
          padding: 0;
        }

        @include bp($bp-640) {
          width: 160px;
        }

        @include bp($bp-540) {
          width: 100%;
          margin-bottom: 18px;
        }

        &:last-child {
          padding-right: 0;
          padding-left: 48px;

          @include bp($bp-894) {
            padding: 0;
          }

          @include bp($bp-540) {
            margin-bottom: 0;
          }
        }

        span {
          display: block;
          font-family: $Roboto;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: left;
          color: $black;

          &:first-child {
            font-size: 17px;
            font-weight: normal;
            line-height: 1.41;
            margin-bottom: 5px;

            @include bp($bp-540) {
              margin-bottom: 0;
            }
          }

          &:nth-child(2) {
            opacity: 0.5;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.43;
          }
        }

        a {
          margin-top: 10px;
          display: block;
          font-family: $Roboto;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: normal;
          text-align: left;
          color: $dark-sky-blue;
          transition: .3s ease-in-out all;

          &:hover {
            color: $maize;
          }

          @include bp($bp-540) {
            margin-top: 0;
          }
        }
      }
    }
  }
}
