.b-advertising {

}

.b-advertising__content {
  max-width: 630px;
  margin: 0 auto;

  @include bp($bp-894) {
    max-width: 100%;
  }

  p {
    font-family: $Roboto;
    font-size: 19px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: left;
    color: $black;
    margin-bottom: 40px;

    @include bp($bp-540) {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 30px;
    }

    &:last-child {
      margin-bottom: 180px;

      @include bp($bp-894) {
        margin-bottom: 60px;
      }

      @include bp($bp-540) {
        margin-bottom: 40px;
      }
    }

    a {
      color: $dark-sky-blue;
      text-decoration: underline;
      transition: .3s ease-in-out all;

      &:hover {
        color: $maize;
      }
    }
  }
}

.b-advertising__download {
  display: block;
  position: relative;
  width: 215px;
  height: 40px;
  border-radius: 3px;
  background-color: $maize;
  font-family: $Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: $white;
  padding: 10px 0;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto 40px;
  overflow: hidden;

  &:hover{
    &::after{
      content: '';
      background: rgba(255,255,255,.4);
      position: absolute;
      width: 30px;
      height: 100px;
      top: 0;
      animation: slide-bar 0.5s forwards;
      transform: rotate(30deg);
      transform-origin: top right;
    }
  }

  @include bp($bp-540) {
    margin: 0 auto 30px;
  }

  @include bp($bp-360) {
    width: 100%;
  }
}
