.b-alert {
  width: 100%;
  height: 40px;
  background-color: #3db46f;
  transition: 0.35s ease-in-out all;

  @include bp($bp-540) {
    height: 58px;

    .container {
      height: 100%;
    }
  }
}

.b-alert__wrap {
  width: 100%;
  position: relative;
  padding: 11px 0;
  transition: 0.35s ease-in-out all;

  @include bp($bp-540) {
    height: 100%;
    display: flex;
    align-items: center;
  }

  a {
    display: block;
    font-family: $Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: normal;
    text-align: left;
    color: $white;
    text-decoration: underline;
    margin-left: 38px;
    padding-right: 40px;

    @include bp($bp-540) {
      margin-left: 0;
    }

    @include bp($bp-360) {
      font-size: 13px;
    }
  }
}

.b-alert__close {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  @include svg-i-close-img;
  transition: 0.35s ease-in-out all;
  cursor: pointer;
}

.b-alert--close {
  .b-alert__close, .b-alert__wrap  {
    opacity: 0;
  }
  transition-delay: .4s;
  height: 0;
}
