.b-arrow-slider {
  display: flex;
}

.b-arrow-slider__item {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;

  &:hover {
    &:before {
      transform: scale(1.12);
    }
  }

  &:last-child {
    margin-left: 20px;
  }

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: solid 1px $white;
    transition: .2s ease-in-out all;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.slick-disabled {
    opacity: .5;
    cursor: not-allowed;

    &:hover {
      &:before {
        transform: scale(1);
      }
    }
  }
}

//
// Modifier
//

.b-arrow-slider__item--prev {
  &:after {
    @include svg-i-arrow-top-slider_white;
  }
}

.b-arrow-slider__item--next {
  &:after {
    @include svg-i-arrow-bottom-slider_white;
  }
}
