.b-auth {
  position: absolute;
  width: 280px;
  top: 60px;
  right: 30px;

  @include bp($bp-1000) {
    display: none;
  }

  &:after {
    content: '';
    display: block;
    top: 0;
    left: -105px;
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: rgba(255,255,255,0.15);

    @include bp($bp-1280) {
      left: -93px;
    }

    @include bp($bp-1240) {
      left: -83px;
    }

    @include bp($bp-1190) {
      left: -70px;
    }

    @include bp($bp-ipad-1024) {
      left: -29px;
    }
  }
}

.b-auth__wrap {

  .b-form {
    width: 100%;
  }

  .b-form__item {
    margin-bottom: 20px;

    input {
      border-radius: 3px;
      background-color: $white;
      border: solid 1px #e5e5e5;
      padding: 16px 19px;
      font-family: $Roboto;
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: normal;
      text-align: left;
      color: $black-40;
    }
  }

  .b-form__submit {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      font-family: $Roboto;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: $white;
      text-decoration: underline;
    }

    button {
      font-family: $Roboto;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: left;
      color: $white;
      padding: 15px 20px;
    }
  }
}

.b-auth__title {
  font-family: $Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.78;
  letter-spacing: normal;
  text-align: left;
  color: $white;
  margin-bottom: 30px;
  -webkit-font-smoothing: antialiased;
}

.b-auth__soc {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;

  p {
    font-family: $Roboto;
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: $white;
    margin-bottom: 0;
  }

  .social__item {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}

.b-auth__reg {
  font-family: $Roboto;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: $white;
  -webkit-font-smoothing: antialiased;

  a {
    font-weight: normal;
    text-decoration: underline;
  }
}
