.b-breadcrumbs {
  display: flex;
  margin-bottom: 32px;

  @include bp($bp-1000) {
    margin-bottom: 30px;
  }

  @include bp($bp-540) {
    margin-bottom: 20px;
  }
}

.b-breadcrumbs__link  {
  position: relative;
  font-family: $Roboto;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: $black;
  margin: 0 7px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }


  &:not(:first-child) {
    &:after {
      content: '/';
      position: absolute;
      top: 0;
      left: -9px;
      font-family: $Roboto;
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
    }
  }
}
