.b-category {

}

.b-category__header {
  position: relative;
  margin-bottom: 30px;
  margin-right: 300px;

  @include bp($bp-1000) {
    margin-right: 0;
  }

  @include bp($bp-540) {
    margin-bottom: 21px;
  }

  h1 {
    font-size: 28px;
    text-align: left;

    @include bp($bp-540) {
      font-size: 24px;
      line-height: 1.25;
    }
  }
}

.b-category__filter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include bp($bp-1000) {
    left: auto;
    right: 0;
    transform: translate(0, -50%);
  }

  @include bp($bp-540) {
    margin-top: 20px;
    position: static;
  }
}
