.b-comments {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto 10px;

  @include bp($bp-1190) {
    width: 100%;
  }

  @include bp($bp-540) {
    margin: 0 auto 24px;
  }

  @include bp($bp-480) {
    margin: 0 auto 34px;
  }


}

.b-comments__wrap {
  position: relative;
  z-index: 5;

  .b-form {

    @include bp($bp-480) {
      .b-form__item {
        width: 100%;

        textarea {
          height: 80px;
          padding: 20px;
        }
      }
    }
  }
}

.b-comments__count {
  margin-left: 70px;
  font-family: $Roboto;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: $black;
  margin-bottom: 30px;

  @include bp($bp-1000) {
    margin-left: 0;
  }
}

.b-comments__form {
  .b-form__load {
    margin-left: 70px;

    @include bp($bp-480) {
      margin-left: 50px;
    }
  }

  .b-form__images {
    margin-left: 70px;

    @include bp($bp-480) {
      margin-left: 50px;
    }
  }
}

.b-comments__list {
  margin-top: 35px;

  @include bp($bp-480) {
    margin-top: 20px;
  }
}
