.b-contacts {

}

.b-contacts__content {

  .b-about__persons {
    max-width: 634px;
    margin-right: auto;
    margin-left: auto;

    @include bp($bp-ipad-768) {
      max-width: 100%;
    }
  }
}

.b-contacts__info {
  max-width: 500px;
  margin: 0 auto 40px;
  font-family: $Roboto;
  font-size: 19px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: normal;
  text-align: center;
  color: $black;

  @include bp($bp-540) {
    font-size: 14px;
    margin-bottom: 20px;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.b-contacts__map {
  position: relative;
  width: 100%;
  max-width: 960px;
  height: 450px;
  margin-bottom: 40px;

  @include bp($bp-540) {
    height: 400px;
    margin-bottom: 20px;
  }

  #map {
    position: absolute;
    top: 0;
    left: 0;
  }
}
