.b-detail {
}

.b-detail__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;

  @include bp($bp-540) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.b-detail__author {
  position: relative;

  @include bp($bp-540) {
    margin-bottom: 20px;
  }
  p, span {
    margin-left: 70px;
    -webkit-font-smoothing: antialiased;

    @include bp($bp-540) {
      margin-left: 50px;
    }
  }

  p {
    font-family: $Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: $black;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;

    @include bp($bp-540) {
      margin-top: 4px;
      font-size: 16px;
      line-height: 1;
    }
  }

  span {
    display: block;
    font-family: $Roboto;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: $black;
  }
}

.b-detail__author-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;

  @include bp($bp-540) {
    width: 40px;
    height: 40px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    font-family: 'object-fit: cover;';
  }

}

.b-detail__img {
  margin-bottom: 30px;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  span {
    margin-top: 10px;
    display: block;
    font-family: $Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #525252;
    -webkit-font-smoothing: antialiased;

    @include bp($bp-540) {
      font-size: 12px;
    }

  }
}

.b-detail__typography {
  position: relative;
  max-width: 700px;
  margin: 0 auto;

  h2 {
    font-family: $RobotoSlab;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    text-align: left;
    color: $black;
    margin-bottom: 30px;

    @include bp($bp-540) {
      font-size: 18px;
      line-height: 1.33;
      margin-bottom: 20px;
    }
  }

  h3 {
    font-family: $RobotoSlab;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: $black;
    margin-bottom: 30px;

    @include bp($bp-540) {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 20px;
    }
  }

  p {
    font-family: $Roboto;
    font-size: 19px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: left;
    color: $black;
    margin-bottom: 30px;
    -webkit-font-smoothing: antialiased;

    @include bp($bp-540) {
      font-size: 16px;
      line-height: 1.5;
    }
  }

  blockquote {
    position: relative;
    padding-left: 26px;
    font-family: $Roboto;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: $black;
    margin-bottom: 30px;
    -webkit-font-smoothing: antialiased;

    @include bp($bp-540) {
      padding-left: 18px;
      line-height: 1.75;
    }


    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 6px;
      height: 100%;
      background-color: $maize;
    }
  }

  & > ul, & > ol {
    list-style: none;
    padding-left: 25px;
    margin-bottom: 30px;

    li {
      position: relative;
      font-family: $Roboto;
      font-size: 19px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.47;
      letter-spacing: normal;
      text-align: left;
      color: $black;
      -webkit-font-smoothing: antialiased;
      margin-bottom: 28px;

      @include bp($bp-540) {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 24px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  & > ul {
    li {
      &:after {
        content: '';
        position: absolute;
        top: 10px;
        left: -25px;
        width: 6px;
        height: 6px;
        background-color: $maize;
      }
    }
  }

  & > ol {
    counter-reset: myCounter;

    li:after {
      position: absolute;
      top: 0;
      left: -25px;
      counter-increment: myCounter;
      content:counter(myCounter)".";
      display: inline-block;
      font-weight: 500;

      @include bp($bp-640) {
        font-size: 14px;
        line-height: 1.71;
      }
    }
  }

  .b-detail__chapter {
    position: relative;
    width: 100%;
    padding: 20px 50px 33px 25px;
    background-color: $white;
    border: solid 1px #dadada;
    margin-bottom: 20px;

    span {
      display: block;
      position: absolute;
      top: -4px;
      right: 11px;
      width: 30px;
      height: 60px;
      background-color: $maize;
      font-family: $Roboto;
      font-size: 19px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 44px;
      letter-spacing: normal;
      text-align: center;
      color: $white;
      -webkit-font-smoothing: antialiased;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -15px;
        margin: 0 auto;
        width: 26px;
        height: 26px;
        background-color: $white;
        transform: rotate(45deg);
        z-index: 10;
      }
    }

    p {
      font-size: 16px;
      line-height: 1.5;

      @include bp($bp-540) {
        font-size: 14px;
        line-height: 1.71;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.b-detail__social-typography {
  position: absolute;
  top: 0;
  left: -130px;
  z-index: 50;

  @include bp($bp-1330) {
    left: calc((100vw - 330px - 700px - 40px)/-2);
  }

  @include bp($bp-1190) {
    display: none;
  }

  .social--detail {
    flex-direction: column;

    .social__item {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  & > div.block-fix {
    position: fixed; }

  & > div.block-stop {
    position: absolute; }
}

.b-detail__video {
  position: relative;
  margin-bottom: 30px;

  img {
    max-width: 100%;
    height: auto;
  }
}

.b-detail__video-content {
  width: calc(100% - 30px);
  position: absolute;
  left: 30px;
  bottom: 30px;
  display: flex;
  align-items: center;

  &:hover {
    .link {

      &:hover {
        color: $maize;
      }
    }
  }

  @include bp($bp-540) {
    left: 20px;
    bottom: 20px;
    width: calc(100% - 20px);
    align-items: flex-start;
  }

  .icon-play {
    display: block;
    @include svg-i-play-lg;
    cursor: pointer;
    outline: none;
  }

  .link {
    display: block;
    width: calc(100% - 50px);
    padding-left: 20px;
    font-family: $Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: $white;
    margin-bottom: 0;
    padding-right: 100px;
    -webkit-font-smoothing: antialiased;
    transition: .3s ease-in-out all;

    @include bp($bp-540) {
      font-size: 12px;
      line-height: 1.33;
      padding-right: 20px;
    }
  }
}

.b-detail__two-paragraphs {
  margin-bottom: 40px;

  p {
    &:first-child {
      margin-bottom: 20px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.b-detail__timeline {

  @include bp($bp-1280) {
    padding-left: 115px;
  }

  @include bp($bp-540) {
    padding-left: 28px;
  }
}

.b-detail__hash-tag {
  margin-bottom: 40px;
  width: 100%;

  @include bp($bp-736) {
    margin-bottom: 20px;
  }

  @include bp($bp-640) {
    position: relative;
    height: 38px;
    overflow: hidden;
    margin-bottom: 10px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 24px;
      height: 50px;
      background-image: linear-gradient(to right, rgba(255, 255, 255, .1), #ffffff);
    }
  }

  .hash-tag {
    @include bp($bp-640) {
      overflow-x: scroll;
      padding-bottom: 3px;
    }
  }

}

.b-detail__alarm {
  width: 100%;
  padding:  19px 20px;
  font-family: $Courier;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: 1px;
  text-align: center;
  color: #c4c4c4;
  border-radius: 2px;
  background-color: $white;
  border: solid 1px #e2e2e2;
  text-transform: uppercase;
  margin-bottom: 40px;

  @include bp($bp-540) {
    font-size: 12px;
    line-height: 1.33;
    margin-bottom: 30px;
    text-align: left;
  }
}

.b-detail__poll {
  margin-bottom: 30px;
}

.b-detail__slider {
  &.slick-dotted {
    &.slick-slider {
      margin-bottom: 14px;
    }
  }

  .slick-arrow {
    width: 32px;
    height: 32px;
    z-index: 50;
    top: calc(50% - 27px);

    &:before {
      content: '';
      display: block;
      opacity: 1;
    }
  }

  .slick-prev {
    left: 18px;
    &:before {
      @include svg-i-arrow-left-slider_white;
    }
  }

  .slick-next {
    right: 18px;
    &:before {
      @include svg-i-arrow-right-slider_white;
    }
  }

  .slick-dots {
    position: relative;
    text-align: right;
    bottom: auto;
    right: -6px;
    margin-top: 14px;

    li  {
      margin: 0;

      button {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 8px;
        height: 8px;
        border-radius: 3px;
        background-color: $white-three;
        padding: 0;

        &:before,&:after {
          display: none;
        }
      }

      &.slick-active {
        button {
          background-color: $macaroni-and-cheese;
        }
      }
    }
  }
}

.b-detail__information {
  padding: 20px;
  border-top: 4px solid $maize;
  background-color: #feefd8;
  margin-bottom: 30px;

  @include bp($bp-540) {
    margin-bottom: 20px;
  }

  p {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.43;
    color: #535353;
    margin-bottom: 0;

    a {
      color: #347dd3;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.b-detail__news {

  @include bp($bp-540) {
    margin-bottom: 15px;
  }

  .news {
    display: flex;
    width: calc(100% / 2 - 15px);
    padding: 20px;
    border: solid 1px #dadada;
    margin-bottom: 30px;

    &:last-child {
      border-color: #dadada;
      margin-bottom: 30px;
    }

    @include bp($bp-540) {
      width: 334px;
      margin-right: 30px;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 15px;
        margin-right: 20px;
      }
    }
  }

  .news-mobile {
    @include bp($bp-540) {
      width: 100%;
      overflow-x: scroll;
    }
  }

  .news-mobile__wrap {
    display: flex;
    justify-content: space-between;
    width: 700px;

    @include bp($bp-540) {
      flex-wrap: nowrap;
      overflow-x: scroll;
      margin: 0 20px;
    }
  }
}

.b-detail__footer {
  width: 100%;

  .b-detail__header {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid $white-two;
    border-bottom: 1px solid $white-two;
  }
}

//
// Modifier
//

.b-detail__news--single {
  .news {
    width: 100%;
    min-height: 100px;
  }

  .news--aside {
    @include bp($bp-540) {
      padding: 0;
      flex-direction: column;
    }

    .news__img {
      position: absolute;
      top: -1px;
      left: -1px;
      width: 160px;
      height: 100px;

      @include bp($bp-540) {
        position: relative;
        padding-top: 64%;
        width: calc(100% + 2px);
        height: auto;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

    }

    .news__content {
      width: 100%;
      padding-left: 170px;

      @include bp($bp-540) {
        padding: 20px;
      }
    }

    .news__info {
      width: calc(100% - 170px);
      left: 170px;

      @include bp($bp-540) {
        position: static;
        width: 100%;
      }
    }
  }
}

.b-detail__news--mobile {
  @include bp($bp-540) {
    position: relative;
    overflow: hidden;
    width: calc(100% + 40px);
    margin-left: -20px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      height: 130px;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.03), $white);
    }
  }
}

