.b-error {

}

.b-error__img {
  max-width: 636px;
  margin: 60px auto 100px;

  @include bp($bp-ipad-1024) {
    margin: 40px auto 60px;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 40px;

    @include bp($bp-640) {
      margin-bottom: 30px;
    }
  }

  p {
    font-family: $Roboto;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: $black;
    margin-bottom: 0;

    a {
      text-decoration: underline;
      color: #3a78c0;
    }
  }
}
