.b-form {

}

.b-form__item {
  position: relative;
  width: 100%;

  input {
    width: 100%;
    padding: 12px 20px;
    border-radius: 3px;
    background-color: $white;
    border: none;
    font-family: $Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: $black;
    outline: none;
    -webkit-font-smoothing: antialiased;

    &::-webkit-input-placeholder {
      color: $warm-grey;
    }
    &:-ms-input-placeholder {
      color: $warm-grey;
    }
    &::-moz-placeholder {
      color: $warm-grey;
      opacity: 1;
    }
    &:-moz-placeholder {
      color: $warm-grey;
      opacity: 1;
    }
  }

  textarea {
    display: block;
    width: 100%;
    height: 140px;
    padding: 20px;
    font-family: $Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: $black;
    border-radius: 5px;
    background-color: $white;
    border: solid 1px #e5e5e5;
    resize: none;

    &:focus {
      outline: none;
    }
    &::-webkit-input-placeholder {
      color: rgba(0, 0, 0, .3);
    }
    &:-ms-input-placeholder {
      color: rgba(0, 0, 0, .3);
    }
    &::-moz-placeholder {
      color: rgba(0, 0, 0, .3);
      opacity: 1;
    }
    &:-moz-placeholder {
      color: rgba(0, 0, 0, .3);
      opacity: 1;
    }

    @include bp($bp-480) {
      padding: 12px 10px;
      height: 40px;
    }
  }
}

.b-form__submit {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    position: relative;
    font-family: $Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: $white;
    border: none;
    padding: 13px 24px;
    border-radius: 3px;
    background-color: $macaroni-and-cheese;
    -webkit-font-smoothing: antialiased;
    outline: none;
    cursor: pointer;
    overflow: hidden;

    &:hover{
      &::after{
        content: '';
        background: rgba(255,255,255,.4);
        position: absolute;
        width: 30px;
        height: 100px;
        top: 0;
        animation: slide-bar 0.5s forwards;
        transform: rotate(30deg);
        transform-origin: top right;
      }
    }
  }

  a {
    font-family: $Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #6991bb;
    text-decoration: underline;
  }
}

.b-form__count-symb {
  display: block;
  position: absolute;
  top: 16px;
  right: 16px;
  height: 22px;
  font-family: $Roboto;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-align: left;
  color: $black;
  padding: 0 7px;
  background-color: #fff;
  border-radius: 14px;
  border: solid 1px #e5e5e5;

  @include bp($bp-480) {
    display: none;
  }
}

.b-form__load {
  position: relative;

  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: #feefd8;
  }
  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 13px;
    left: 13px;

    @include svg-i-upload-img
  }

  input {
    opacity: 0;
    width: 40px;
    height: 40px;
    font-size: 3px;
    cursor: pointer;
  }

  label {
    font-family: $Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: $black;
    margin-bottom: 0;
    margin-left: 10px;
  }
}

.b-form__images {
  display: flex;
}

.b-form__images-item {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 37, 37, 0.4);
    opacity: 0;
    transition: .3s ease-in-out all;
    border-radius: 4px;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    @include svg-i-close-img;
    opacity: 0;
    transition: .3s ease-in-out all;
    z-index: 10;
  }

  &:hover {
    &:after,&:before {
      opacity: 1;
    }
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
  }
}

.b-form__checkbox {

  label {
    display: block;
    position: relative;
    font-family: $Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: $black;
    padding-left: 34px;
    padding-top: 1px;
    padding-bottom: 1px;
    cursor: pointer;
    margin-bottom: 0;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 5px;
      border: solid 1px #979797;
      transition: .3s ease-in-out all;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 5px;
      left: 6px;
      @include svg-i-tick;
      z-index: 10;
      opacity: 0;
      transition: .3s ease-in-out all;
    }
  }

  input {
    display: none;

    &:checked {
      & + label {
        &:after {
          border-color: $maize;
          background-color: $maize;
        }

        &:before {
          opacity: 1;
        }
      }
    }
  }
}

.b-form__b-email {
  display: flex;

  .b-form__item {
    margin-bottom: 0;
  }
}

.b-form__soc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;

  span {
    font-family: $Roboto;
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: $black;
  }

  .social__item {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}

.b-form__bottom {
  border-top: 1px solid $white-two;;
  width: calc(100% + 60px);
  margin-left: -30px;
  padding: 20px 0;
  text-align: center;

  @include bp($bp-540) {
    width: calc(100% + 40px);
    margin-left: -20px;
  }

  p {
    font-family: $Roboto;
    font-size: 14px;
    font-weight: 300;
    color: $black;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 0;

    a {
      color: #6991bb;
      font-weight: normal;
      text-decoration: underline;
    }
  }
}
//
// Modifier
//

.b-form__item--user {
  position: relative;
  padding-left: 70px;

  @include bp($bp-480) {
    padding-left: 50px;
  }

  img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    font-family: 'object-fit: cover;';

    @include bp($bp-480) {
      width: 40px;
      height: 40px;
    }
  }
}


