.b-footer {
  background-color: $black-two;
  overflow: hidden;

}

.b-footer__wrap {
  display: flex;
  width: 100%;

  @include bp($bp-1000) {
    flex-direction: column;
  }
}

.b-footer__content {
  width: calc(100% - 330px + 30px);
  padding-right: 30px;

  @include bp($bp-1000) {
    width: 100%;
    padding-right: 0;
  }
}

.b-footer__aside {
  position: relative;
  padding-left: 30px;
  width: 300px;
  background-color: $black-three;
  text-align: center;

  @include bp($bp-1000) {
    width: 100%;
    padding-left: 0;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: -300%;
    width: 300%;
    height: 100%;
    background-color: $black-three;

    @include bp($bp-1000) {
      width: calc(100% + 68px);
      left: -34px;
      right: auto;
      z-index: 1;
    }
  }
}

.b-footer__top {
  padding-bottom: 18px;
  border-bottom: 1px solid $white-20;

  @include bp($bp-712) {
    width: calc(100% + 40px);
    margin-left: -20px;
    padding-bottom: 0;
  }
}

.b-footer__main-menu {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;

  @include bp($bp-712) {
    margin-top: 20px;
    margin-bottom: 15px;
    height: auto;

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: -20px;
      right: 0;
      width: 40px;
      height: 65px;
      background-image: linear-gradient(to left,rgb(26, 26, 26) 0.5%,rgba(0, 0, 0, 0) 100%);
    }

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: -20px;
      left: 0px;
      width: 20px;
      height: 65px;
      background-image: linear-gradient(to right,rgb(26, 26, 26) 0.5%,rgba(0, 0, 0, 0) 100%);
      z-index: 10;
    }
  }

  .main-menu {
    @include bp($bp-712) {
      padding-left: 20px;
      flex-wrap: nowrap;
      overflow-y: auto;
      padding-bottom: 6px;
    }
  }

  .main-menu__link a {
    font-family: $RobotoSlab;
    font-size: 16px;
    text-transform: uppercase;
  }
}

.b-footer__sub-menu {
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;

  @include bp($bp-712) {
    margin-bottom: 13px;

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 30px;
      background-image: linear-gradient(to left,rgb(26, 26, 26) 0.5%,rgba(0, 0, 0, 0) 100%);
    }
    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 30px;
      background-image: linear-gradient(to right,rgb(26, 26, 26) 0.5%,rgba(0, 0, 0, 0) 100%);
      z-index: 10;
    }
  }

  .sub-menu {
    @include bp($bp-712) {
      width: 780px;
      flex-wrap: nowrap;
      overflow-y: auto;
      padding-bottom: 12px;
      padding-left: 20px;
    }
  }

  .sub-menu__link {
    margin-right: 40px;

    @include bp($bp-ipad-1024) {
      margin-right: 23px;
    }

    &:last-child {
      @include bp($bp-712) {
        padding-right: 23px;
      }
    }

    a {
      font-size: 14px;
      line-height: 1;
      color: $warm-grey-two;
      white-space: nowrap;
    }
  }
}

.b-footer__sub {
  display: flex;
  padding: 30px 0;
  border-bottom: 1px solid $white-20;

  @include bp($bp-712) {
    width: calc(100% + 40px);
    margin-left: -20px;
    padding: 30px 20px;
    flex-direction: column;
  }

  & > p {
    margin-bottom: 0;
    margin-right: 28px;

    @include bp($bp-712) {
      margin-right: 0;
    }

    span {
      display: block;
      font-family: $Roboto;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;


      &:first-child {
        font-size: 14px;
        color: $white;
        margin-bottom: 10px;
      }

      &:last-child {
        font-size: 12px;
        color: $warm-grey-two;
      }
    }
  }
}

.b-footer__email {
  width: calc(100% - 278px - 28px);
  padding-left: 30px;

  @include bp($bp-712) {
    width: 100%;
    padding-left: 0;
    margin-top: 20px;
  }

  .b-form {
    display: flex;
    justify-content: space-between;

    .b-form__item {
      width: calc(100% - 120px - 20px);
      margin-bottom: 0;

      @include bp($bp-712) {
        width: calc(100% - 118px);

        input {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    @include bp($bp-712) {
      .b-form__submit {
        button {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}

.b-footer__description {
  padding-top: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include bp($bp-712) {
    flex-wrap: wrap;
  }

  p {
    width: 50%;
    padding-right: 30px;
    font-family: $Roboto;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: $warm-grey-two;
    margin-bottom: 0;

    @include bp($bp-712) {
      width: 100%;
      padding-right: 0;

      &:first-child {
        margin-bottom: 20px;
      }
    }
  }
}

.b-footer__links {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;

  @include bp($bp-640) {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  a {
    width: 142px;
    font-family: $Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: $white-60;
    text-decoration: underline;
    outline: none;
    transition: .3s ease-in-out all;

    @include bp($bp-736) {
      width: 128px;
      font-size: 12px;
    }

    &:not(:last-child) {
      width: 125px;
      margin-right: 60px;

      @include bp($bp-ipad-768) {
        margin-right: 40px;
      }

      @include bp($bp-736) {
        width: 111px;
        font-size: 12px;
      }

    }
  }
}

.b-footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 30px;

  @include bp($bp-712) {
    flex-direction: column-reverse;
  }
}

.b-footer__social {

  @include bp($bp-712) {
    width: 100%;
    margin-bottom: 30px;

    .social {
      justify-content: space-between;
    }
  }
}

.b-footer__copy {
  font-family: $RobotoSlab;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: $white;
  -webkit-font-smoothing: antialiased;
}


.b-footer__contact {
  margin-top: 15px;
  margin-bottom: 30px;

  @include bp($bp-1000) {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $white-20;
    margin-top: 30px;
    margin-bottom: 0;
    padding-bottom: 30px;
  }

  @include bp($bp-712) {
    flex-wrap: wrap;
    margin-top: 20px;
    padding-bottom: 20px;
  }

  p {
    font-family: $Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: $white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;

    @include bp($bp-1000) {
      margin: 0;
      line-height: 1.71;

      &:first-child {
        width: 150px;
      }
    }

    @include bp($bp-712) {
      width: 50%;
    }

    @include bp($bp-540) {
      font-size: 13px;
      &:first-child {
        width: 141px;
      }
    }

    &:nth-child(2) {
      margin-bottom: 0;
      padding-bottom: 20px;
      border-bottom: 1px solid $white-20;

      @include bp($bp-1000) {
        flex-direction: column;
        align-items: center;
        border: none;
        padding-bottom: 0;

        @include bp($bp-712) {
          align-items: flex-end;
        }

        @include bp($bp-414) {
          width: 130px;
        }
      }
    }

    & > a {
      font-style: normal;
      font-stretch: normal;
      line-height: 1.88;
      letter-spacing: normal;
      color: $white;

      @include bp($bp-1000) {
        line-height: 1;
      }

      &:first-child {
        font-family: $RobotoSlab;
        font-size: 16px;
        font-weight: normal;

        @include bp($bp-1000) {
          margin-bottom: 10px;
        }
        @include bp($bp-540) {
          font-size: 12px;
        }
      }

      &:last-child {
        font-family: $Roboto;
        font-size: 14px;
        font-weight: 300;
        text-decoration: underline;

        @include bp($bp-540) {
          font-size: 12px;
        }
      }
    }
  }
}

.b-footer__subscription  {
  position: relative;
  margin-top: 30px;
  display: inline-block;
  padding: 0 24px;
  font-family: $Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 40px;
  letter-spacing: normal;
  text-align: left;
  color: $white;
  height: 40px;
  border-radius: 3px;
  background-color: $macaroni-and-cheese;
  overflow: hidden;

  &:hover{
    &::after{
      content: '';
      background: rgba(255,255,255,.4);
      position: absolute;
      width: 30px;
      height: 100px;
      top: 0;
      animation: slide-bar 0.5s forwards;
      transform: rotate(30deg);
      transform-origin: top right;
    }
  }

  @include bp($bp-1000) {
    margin-top: 0;
  }

  @include bp($bp-712) {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
}

.b-footer__other {
  margin-top: 29px;
  padding-top: 31px;
  border-top: 1px solid $white-20;

  @include bp($bp-1000) {
    position: relative;
    z-index: 10;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 0;
    border: none;
  }

  p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
}

.b-footer__design {
  display: block;
  font-family: $Roboto;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
  color: $white;

  a {
    text-decoration: underline;
    transition: .2s ease-in-out all;

    &:hover {
      color: $macaroni-and-cheese;;
    }
  }
}

.b-footer__enter {
  font-family: $Roboto;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: $white-60;
  margin-bottom: 44px;

  @include bp($bp-1000) {
    width: 185px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    z-index: 10;
  }

  @include bp($bp-712) {
    display: none;
  }

  & > span {
    display: block;
    @include bp($bp-1000) {
      display: inline;
    }
  }
}

.b-footer__adult {
  display: block;
  width: 34px;
  height: 34px;
  border-radius: 5px;
  border: solid 1px $white-60;
  font-family: $Roboto;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 32px;
  letter-spacing: normal;
  text-align: center;
  color: $white-60;
}
