.b-fullpage-slider {
  position: relative;
  height: 752px;
  overflow: hidden;

  @include bp($bp-712) {
    height: 500px;
  }

  .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
  }

  .slick-dots {
    width: auto;
    left: calc((100% - 1290px)/2 + 40px - 15px);
    bottom: 28px;

    @include bp($bp-1330) {
      left: calc(20px + 40px - 15px);
    }

    @include bp($bp-1000) {
      left: calc(34px - 15px);
    }

    @include bp($bp-712) {
      left: calc(20px - 15px);
    }

    li {
      margin: 0 15px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -32px;
        width: 100%;
        height: 4px;
        background-color: transparent;
        transition: .3s ease-in-out all;
      }

      &.slick-active {
        span {
          color: $white;
          transition: .3s ease-in-out all;
        }
        &:after {
          background-color: $maize;
        }
      }
      span {
        font-family: $Roboto;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: $white-40;
      }
    }
  }
}

.b-fullpage-slider__item {
  position: relative;

  .news__img {
    position: relative;
    display: block;

    img {
      display: block;
      width: 100%;
      object-fit: cover;
      font-family: 'object-fit: cover;';
      height: 752px;

      @include bp($bp-712) {
        height: 500px;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(32, 32, 32, 0.5);
    }
  }

  .news__content {
    max-width: 465px;
    width: calc(100% - 40px);
    position: absolute;
    bottom: 284px;
    left: calc(20px + 40px);

    @include bp($bp-1000) {
      max-width: 326px;
      left: 34px;
      bottom: 176px;
    }

    @include bp($bp-712) {
      left: 20px;
      bottom: 136px;
    }

    h3 {
      font-size: 42px;
      line-height: 1.19;
      color: $white;

      @include bp($bp-1000) {
        font-size: 32px;
        line-height: 1.19;
      }

      @include bp($bp-712) {
        font-size: 24px;
        line-height: 1.33;
      }
    }
  }

  .news__info {
    & > span {
      margin: 0 20px;

      @include bp($bp-540) {
        margin: 0 10px;
      }
    }
  }

  .news__label, time, .news__comments {
    font-size: 14px;
    color: $white-60;
  }

  .news__comments {
    position: relative;
    margin-left: 40px;

    @include bp($bp-540) {
      margin-left: 20px;
    }

    &:before {
      @include svg-i-comments_white;
      opacity: .6;
    }
  }
}

.b-fullpage-slider__arrow {
  position: absolute;
  left: calc((100% - 1290px)/2 + 40px);
  bottom: 200px;
  z-index: 10;

  @include bp($bp-1330) {
    left: calc(20px + 40px);
  }

  @include bp($bp-1000) {
    left: 34px;
    bottom: 96px;
  }

  @include bp($bp-712) {
    left: 20px;
    bottom: 76px;
  }
}
