.b-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid $white-40;
  z-index: 10;
  transition: .3s ease-in-out all;

  .container {
    position: relative;
    height: 100%;
  }
}

.b-header__wrap {
  display: flex;
  align-items: center;
  height: 100%;
}

.b-header__content {
  width: calc(100% - 330px);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include bp($bp-ipad-1024) {
    width: 100%;
  }

  & > div {
    display: flex;
    align-items: center;

    &:first-child {
      @include bp($bp-712) {
        width: 100%;
        justify-content: space-between;
      }
    }
  }
}

.b-header__hamburgers {
  position: relative;
  width: 18px;
  height: 10px;
  margin-left: -1px;
  cursor: pointer;

  &:before {
    content: "";
    background: #fff;
    height: 2px;
    width: 16px;
    border-radius: 3px;
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
    transition: all .3s ease-out;
  }

  &:after {
    content: "";
    background: #fff;
    height: 2px;
    width: 16px;
    border-radius: 3px;
    position: absolute;
    top: -6px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
    transition: all .3s ease-out;
  }

  &.close {
    &:before {
      transform: rotate(45deg);
      top: 4px;
      width: 16px;
      margin: 0;
    }
    &:after {
      transform: rotate(-45deg);
      top: 4px;
      width: 16px;
      margin: 0;
    }
  }
}

.b-header__logo {
  margin-left: 20px;
  display: block;
  @include svg-logo_white;

  @include bp($bp-712) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease-in-out all;
    margin-left: 0;

    &.hidden {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.b-header__main-menu {
  position: relative;
  margin-left: 42px;
  padding-right: 56px;

  @include bp($bp-712) {
    width: calc(100% - 20px);
    margin-left: 14px;
  }
  .main-menu {
    transition: .1s ease-in-out all;

    @include bp($bp-712) {
      display: none;
    }
  }

  .main-menu__link {
    @include bp($bp-1000) {
      &:nth-last-child(-n+2) {
        display: none;
      }

      &:nth-child(3) {
        margin-right: 0;
      }
    }

  }

  &.hidden {

    .main-menu {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.b-header__sub-menu {
  position: absolute;
  top: 90px;
  left: calc(20px + 40px);

  @include bp($bp-1000) {
    left: 34px;
  }

  .sub-menu__link {
    @include bp($bp-1000) {
      margin-right: 20px;
    }
  }
}

.b-header__search {
  display: flex;
  align-items: center;
  width: 18px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
  z-index: 50;

  &.move {
    width: 100%;
  }

  .b-form {
    display: none;
    width: 100%;
    height: 22px;
    padding-left: 18px;
  }

  .b-form__item {
    input {
      padding: 0;
      width: 100%;
      height: 22px;
      font-family: $Roboto;
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 22px;
      letter-spacing: normal;
      text-align: left;
      color: $white;
      background-color: transparent;
      border: none;

      &:focus {
        outline: none;
      }
      &::-webkit-input-placeholder {
        color: $white;
      }
      &:-ms-input-placeholder {
        color: $white;
      }
      &::-moz-placeholder {
        color: $white;
        opacity: 1;
      }
      &:-moz-placeholder {
        color: $white;
        opacity: 1;
      }
    }
  }
}

.b-header__search-ico {
  @include svg-i-search;
  transition: .3s ease all;

  &:hover {
    transform: translateY(-1.5px);
  }
}

.b-header__search-close {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  @include svg-i-close;
  cursor: pointer;
  transition-delay: 0.1s;
  transition: 0.3s ease all;
  z-index: 55;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.b-header__forex {
  position: relative;
  display: flex;
  margin-right: 58px;
  padding-left: 41px;

  @include bp($bp-1240) {
    margin-right: 20px;
  }

  @include bp($bp-1190) {
    padding-left: 0;

    &:after {
      display: none;
    }
  }

  @include bp($bp-ipad-1024) {
    padding-left: 41px;
    &:after {
      display: block;
    }
  }

  @include bp($bp-1000) {
    padding-left: 0;

    &:after {
      display: none;
    }
  }

  @include bp($bp-712) {
    display: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    @include svg-i-forex-arrow;
  }
}

.b-header__forex-unit {
  position: relative;
  padding-left: 14px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: normal;
  text-align: left;
  color: $white;
  -webkit-font-smoothing: antialiased;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }
}

.b-header__aside {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 30px;
  width: 300px;
  height: 100%;

  @include bp($bp-ipad-1024) {
    display: none;
  }
}

.b-header__aside-img {
  width: 70px;
  height: 59px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
  }
}

.b-header__aside-text {
  max-width: 132px;
  margin-left: 20px;
  margin-right: 26px;
  font-family: $Roboto;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: $white;
  -webkit-font-smoothing: antialiased;
}

.b-header__aside-link {
  position: relative;
  display: block;
  width: 52px;
  height: 30px;
  border-radius: 3px;
  background-color: $macaroni-and-cheese;
  font-family: $Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: normal;
  text-align: center;
  color: $white;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;

  &:hover{
    &::after{
      content: '';
      background: rgba(255,255,255,.3);
      position: absolute;
      width: 10px;
      height: 60px;
      top: 0;
      animation: slide-bar 0.5s forwards;
      transform: rotate(30deg);
      transform-origin: top right;
    }
  }

}

.b-header__enter {
  font-family: $Roboto;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $white;
  -webkit-font-smoothing: antialiased;

  @include bp($bp-712) {
    display: none;
  }
}

.b-header__ico {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;

  @include bp($bp-1000) {
    display: none;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

//
// Modifier
//

.b-header__forex-unit--usd {
  &:after {
    @include svg-i-usa;
  }
}

.b-header__forex-unit--eur {
  &:after {
    @include svg-i-eur;
  }
}

.b-header--bg-black {
  background-color: $black-2;
  border-bottom: none;
}

.b-header--bg-black-js {
  background-color: $black-2;
  border-bottom: none;
}
