.b-lc__wrap {

}

.b-lc__tabs {
  width: 100%;
  border-bottom: 1px solid $white-three;;
}

.b-lc__tabs-wrap {
  width: 100%;
  max-width: 350px;
  margin: auto;
  display: flex;
  justify-content: center;

  @include bp($bp-540) {
    justify-content: space-between;
  }
}

.b-lc__tabs-item {
  position: relative;
  font-family: $Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: $black;
  margin-right: 27px;
  padding-bottom: 14px;
  cursor: pointer;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: $white;
    bottom: 0;
    left: 0;
    transition: .3s ease-in-out all;
  }

  @include bp($bp-540) {
    font-size: 13px;
    margin-right: 0;
    padding-bottom: 10px;
    line-height: 1.5;
  }

  @include bp($bp-320) {
    font-size: 12px;
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &.active {
    &:after {
      content: '';
      background-color: $macaroni-and-cheese;
    }
  }
}

.b-lc__container {
  margin-top: 30px;

  @include bp($bp-640) {
    margin-top: 20px;
  }
}

.b-lc__content {
  display: none;

  &.active {
    display: block;
  }
}

.b-lc__data {
  max-width: 280px;
  margin: auto;

  h3 {
    font-family: $Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: $black;
    margin-left: 24px;
    margin-bottom: 10px;
  }
}

.b-lc__form {
  margin-bottom: 50px;

  @include bp($bp-640) {
    margin-bottom: 30px;
  }

  &:last-child {
    margin-bottom: 80px;

    @include bp($bp-640) {
      margin-bottom: 40px;
    }
  }

  .b-form__item {
    position: relative;
    margin-bottom: 20px;

    label {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      font-family: $Roboto;
      font-size: 12px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: left;
      color: $black-40;
      z-index: -1;
      transition: .3s ease-in-out all;
    }
    input {
      background-color: transparent;
      border: solid 1px #e5e5e5;
      font-family: $Roboto;
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: normal;
      text-align: left;
      color: $black;
      padding-top: 26px;
      padding-bottom: 8px;

      &.is-filled {
        & + label {
          transform: translateY(-100%);
        }
      }
    }
  }

  .b-form__load-icon {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .b-form__load-icon-wrap {
    width: calc(100% - 60px);
    padding-left: 20px;

    label {
      display: block;
      font-family: $Roboto;
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: normal;
      text-align: left;
      color: $dark-sky-blue;
      text-decoration: underline;
      margin-bottom: 5px;
      cursor: pointer;
    }

    input {
      display: none;
    }

    span {
      display: block;
      opacity: 0.3;
      font-family: $Roboto;
      font-size: 12px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: left;
      color: $black;
    }
  }

  .b-form__submit {
    justify-content: center;
  }
}

.b-lc__news {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 180px;

  @include bp($bp-1190) {
    margin-bottom: 90px;
  }

  @include bp($bp-640) {
    margin-bottom: 40px;
  }

  width: calc(100% + 30px);
  margin-left: -15px;

  @include bp($bp-640) {
    width: 100%;
    margin-left: 0;
  }

  .news--aside {
    width: calc(100% / 3 - 30px);
    margin-left: 15px;
    margin-right: 15px;

    &:nth-last-child(-n+3) {
      border-color: transparent;
      margin-bottom: 0;
    }

    @include bp($bp-1190) {
      width: calc(100% / 2 - 30px);

      &:nth-last-child(-n+3) {
        padding-bottom: 30px;
        border-bottom: 1px solid #e6e6e6;
        margin-bottom: 30px;
      }
    }

    @include bp($bp-640) {
      width: calc(100%);
      margin-left: 0;
      margin-right: 0;

      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
      }
    }
  }

  .news__content h3 a {
    display: block;
    padding-right: 20px;
  }
}

.b-lc__sub {
  margin-bottom: 180px;

  @include bp($bp-1190) {
    margin-bottom: 90px;
  }

  @include bp($bp-640) {
    margin-bottom: 40px;
  }
}

.b-lc__sub-form {
  max-width: 520px;
  margin: auto;

  @include bp($bp-540) {
    max-width: 280px;
  }

  h4 {
    width: 280px;
    margin: 0 auto 40px;
    font-family: $Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: $black;
  }

  .b-form__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .b-form__checkbox {
    padding-left: 30px;
    width: 33.3333%;
    margin-bottom: 20px;

    @include bp($bp-540) {
      width: 50%;
      padding-left: 0;

      &:nth-child(even) {
        padding-left: 10px;
      }

      label {
        font-size: 13px;
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }
  }

  .b-form__submit {
    justify-content: center;
    margin-bottom: 30px;
  }

  .b-form__info {
    padding: 0 20px;
    font-family: $Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: $black;

    @include bp($bp-540) {
      font-size: 13px;
      padding: 0;
    }

    a {
      color: $dark-sky-blue;
      text-decoration: underline;
    }
  }
}
