.b-login {
  position: absolute;
  width: 250px;
  height: 180px;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease all;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.10);
  z-index: 49;


  &.arrow-left {
    &:after {
      content: '';
      position: absolute;
      right: auto;
      left: -10px;
      bottom: 30px;
      width: 22px;
      height: 22px;
      background-color: #fff;
      transform: rotate(-45deg);
      box-shadow: 0 3px 8px 0 rgba(0,0,0,0.10);
      z-index: -2;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
    z-index: -1;
  }
  &:after {
    content: '';
    position: absolute;
    right: -10px;
    bottom: 30px;
    width: 22px;
    height: 22px;
    background-color: #fff;
    transform: rotate(-45deg);
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.10);
    z-index: -2;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.b-login__title {
  font-family: $Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: $black;
  margin-bottom: 20px;
}

.b-login__social {
  margin-bottom: 20px;
}

.b-login__desc {
  font-family: $Roboto;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: $black;
  margin-bottom: 20px;

  a {
    color: #3a78c0;
    text-decoration: underline;
  }
}
