.b-main {

}

.b-main-fullpage {
  position: relative;
  margin-bottom: 30px;

  & > .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .aside--fullpage {
    @include bp($bp-712) {
      display: none;
    }
  }
}

.b-main__news-feed {
  position: relative;
}

.b-main__news-grid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;

  @include bp($bp-1000) {
    display: none;
  }
}

.b-main__news-grid-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(100%/2 - (20px)/2);

  @include bp($bp-540) {
    width: 100%;
    margin-bottom: 30px;
  }

  .news--mini {
    width: calc(100%/2 - (20px)/2);
    margin-bottom: 20px;

    .news__img {
      padding-top: 113%;
    }

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }

    .news__content {
      h3 {
        @include bp($bp-540) {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.b-main__section {
  width: 100%;
  margin-bottom: 30px;
}

.b-main__two-news {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  max-height: 390px;

  @include bp($bp-540) {
    flex-wrap: wrap;
    max-height: 100%;
    margin-bottom: 20px;
  }
}

.b-main__three-news {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  max-height: 390px;

  @include bp($bp-1000) {
    flex-wrap: wrap;
    max-height: 100%;
    margin-bottom: 10px;
  }

  @include bp($bp-540) {
    margin-bottom: 27px;
  }

  .news-slider--mini {
    width: calc(100%/2 - 15px);

    @include bp($bp-1000) {
      width: 100%;
    }
  }

  .news--full  {
    width: calc(100%/4 - (3*30px)/4);

    @include bp($bp-1000) {
      width: calc(100%/2 - 10px);
    }

    @include bp($bp-540) {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

.b-main__block-news-mini {
  padding-top: 30px;
  margin-bottom: 50px;

  @include bp($bp-1000) {
    margin-bottom: 32px;
  }

  @include bp($bp-540) {
    padding-top: 0;
    margin-top: -10px;
    margin-bottom: 0;
  }

  h2 {
    font-family: $RobotoSlab;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    text-align: left;
    color: $black;
    margin-bottom: 30px;

    @include bp($bp-540) {
      font-size: 20px;
      line-height: 1.2;
      margin-bottom: 20px;
    }
  }

  .news {
    width: calc(100%/4 - 30px);
    margin-left: 15px;
    margin-right: 15px;
    border-color: $white-two;

    &:nth-last-child(-n+4) {
      border-color: transparent;
      margin-bottom: 0;
    }

    @include bp($bp-ipad-1024) {
      width: calc(100%/4 - 20px);
      margin-left: 10px;
      margin-right: 10px;
    }

    @include bp($bp-1000) {
      width: calc(100%/2 - 20px);

      .news__content {
        h3 {
          max-width: 210px;
        }
      }

      .news__comments {
        position: relative;
        margin-left: 20px;
      }

      &:nth-last-child(-n+4) {
        border-color: $white-two;
        margin-bottom: 30px;
      }

      &:nth-last-child(-n+2) {
        border-color: transparent;
        margin-bottom: 0;
      }
    }

    @include bp($bp-540) {
      width: 100%;

      &:nth-last-child(-n+2) {
        border-color: $white-two;
        margin-bottom: 30px;
      }

      &:last-child {
        border-color: transparent;
      }

      .news__content {
        h3 {
          max-width: 370px;
        }
      }

      .news__comments {
        position: absolute;
        margin-left: 0;
      }
    }
  }
}

.b-main__block-news-mini-wrap {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 30px);
  margin-left: -15px;

  @include bp($bp-ipad-1024) {
    width: calc(100% + 20px);
    margin-left: -10px;
  }
}

.b-main__gallery-news {
  display: flex;
  justify-content: space-between;

  @include bp($bp-1000) {
    flex-wrap: wrap;
  }

  @include bp($bp-540) {
    display: none;
  }

  .news {
    width: calc(100%/4 - (3*30px)/4);

    @include bp($bp-1000) {
      width: calc(100%/2 - 10px);
    }

    @include bp($bp-540) {
      width: 100%;
    }
  }
}

.b-main__title {

  h2 {
    font-family: $RobotoSlab;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    text-align: left;
    color: $black;
    margin-bottom: 30px;

    @include bp($bp-1000) {
      font-size: 22px;
      line-height: 1.36;
      margin-bottom: 20px;
    }
  }
}

//
// Modifier
//

.b-main-fullpage--content {
  height: 600px;

  @include bp($bp-712) {
    height: 440px;
  }

  .b-fullpage-slider__item  {

    .news__content {
      bottom: 230px;

      @include bp($bp-1000) {
        bottom: 110px;
      }

      @include bp($bp-712) {
        bottom: 90px;
      }
    }

    .news__img img {
      height: 600px;

      @include bp($bp-712) {
        height: 440px;
      }
    }
  }

  .aside--fullpage {
    top: 30px;
  }

  .b-fullpage-slider__arrow {
    bottom: 150px;

    @include bp($bp-1000) {
      bottom: 30px;
    }
  }

  .b-arrow-slider__item--prev {
    transform: rotate(-90deg);
  }

  .b-arrow-slider__item--next {
    transform: rotate(-90deg);
  }

  .slick-dots {
    display: none!important;
  }
}

.b-main__news-grid--mobile {
  display: none;

  @include bp($bp-1000) {
    width: 100%;
    display: flex;
  }
}

.b-main__section--fullpage {
  @include bp($bp-540) {
    margin-top: 20px;
  }
}

.b-main__section--poster {
  margin-bottom: 40px;

  @include bp($bp-540) {
    .section__top {
      margin-bottom: 25px;
    }

    .section__filter {
      margin-top: 0;
      width: calc(100% - 130px);
    }
    .filter {
      & > .filter__link {
        &:not(:first-child) {
          display: none;
        }

        &:first-child {
          position: relative;

          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 5px;
            right: -22px;
            @include svg-i-arrow-little_blue;
          }
        }
      }
    }
  }
}

.b-main__gallery-news--mobile {
  display: none;

  @include bp($bp-540) {
    display: flex;
    flex-wrap: wrap;
  }
}
