.b-menu {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 60px);
  background-color: #161616;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out all;

  @include bp($bp-1000) {
    position: fixed;
    background-color: transparent;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .container {
    position: relative;
    height: 100%;
    @include bp($bp-1000) {
      padding: 0;
    }
  }

  .b-footer__design {
    @include bp($bp-1000) {
      display: none;
    }
  }

  .b-footer__copy {
    @include bp($bp-1000) {
      font-size: 12px;
      padding-left: 20px;
    }
  }
}

.b-menu__bg {
  display: none;
  width: calc(100% - 280px);
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 280px;
  height: 100%;
  background-color: rgba(22, 22, 22, .75);
  @include bp($bp-1000) {
    display: block;
  }
}

.b-menu__wrap {
  padding-top: 40px;
  height: 100%;

  @include bp($bp-1000) {
    width: 280px;
    position: relative;
    z-index: 10;
    background-color: #161616;
  }
}

.b-menu__list {
  @include bp($bp-1000) {
    overflow: scroll;
    height: 100%;
  }

  .page__button {
    display: none;

    @include bp($bp-1000) {
      display: inline-block;
    }
  }

  ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-right: 160px;
    flex-direction: column-reverse;

    @include bp($bp-1190) {
      margin-right: 130px;
    }

    @include bp($bp-1000) {
      margin-right: 0;
      margin-bottom: 20px;
    }

    @include bp($bp-1000) {
      flex-direction: column;
      padding-left: 75px;
    }

    @include bp($bp-540) {
      padding-left: 30px;
    }

    li {
      position: relative;

      &:hover {
        a {
          color: $maize;
        }
        &:after {
          opacity: 1;
        }

      }

      &:after {
        content: '';
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 4px;
        height: 100%;
        background-color: $maize;
        opacity: 0;
        transition: .3s ease-in-out all;

        @include bp($bp-1000) {
          display: block;
        }
      }

      @include bp($bp-1000) {
        margin-bottom: 20px;
      }

      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }

      &.active {
        a {
          color: $maize;
        }
        @include bp($bp-1000) {
          &:after {
            opacity: 1;
          }
        }
      }

      a {
        display: block;
        font-family: $RobotoSlab;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 3.75;
        letter-spacing: normal;
        text-align: left;
        color: $white;
        transition: .3s ease-in-out all;
        text-transform: uppercase;

        @include bp($bp-1000) {
          font-size: 14px;
          line-height: 1.71;
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.b-menu__list-wrap {
  display: flex;
  align-items: flex-start;
  width: 100%;

  @include bp($bp-1000) {
    flex-direction: column;
    margin-bottom: 280px;

    ul {
      width: 100%;
    }
  }
}

.b-menu__news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  @include bp($bp-1000) {
    display: none;
  }

  & > span {
    display: block;
    width: 1px;
    height: 90px;
    background-color: rgba(255, 255, 255, .15);
  }
  .news--aside {
    width: 290px;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }

  .news__content {
    max-width: 210px;

    h3 {
      color: $white;
    }
  }

  time {
    color: $white-60;
  }
  .comments {
    color: $white-60;

    &:before {
      @include svg-i-comments_white;
    }
  }
}

.b-menu__footer {
  position: absolute;
  width: calc(100% - 40px);
  bottom: 0;
  left: 20px;

  @include bp($bp-1000) {
    left: 0;
    width: 100%;
    background-color: #161616;
  }
}

.b-menu__footer-top {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 26px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 22px;

  @include bp($bp-1000) {
    border-top: 0;
    padding-top: 0;
    flex-direction: column-reverse;
    margin-bottom: 18px;
  }

  p {
    max-width: 385px;
    font-family: $Roboto;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: $warm-grey-two;
    margin: 0;

    @include bp($bp-1000) {
      font-size: 10px;
      line-height: 1.8;
      border-top: 1px solid rgba(255, 255, 255, 0.15);
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .social {
    @include bp($bp-1000) {
      margin-bottom: 20px;
      padding-left: 20px;
    }
  }

  .social__item {
    @include bp($bp-1000) {
      margin-right: 34px;
    }
  }
}

.b-menu__footer-right {
  display: flex;

  @include bp($bp-1000) {
    padding-top: 20px;
  }
  .b-footer__adult {
    margin-right: 20px;

    @include bp($bp-1000) {
      display: none;
    }
  }
}


.b-menu__footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  @include bp($bp-1000) {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding-top: 20px;
  }
}

.b-menu__ico {
  display: none;
  align-items: center;
  margin-bottom: 34px;
  margin-left: 75px;

  @include bp($bp-1000) {
    display: flex;
  }

  @include bp($bp-540) {
    margin-left: 30px;
  }

  img {
    width: 38px;
    height: 38px;
    object-fit: cover;
    border-radius: 50%;
  }

  p {
    margin-left: 20px;
    margin-bottom: 0;
    font-family: $Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $white;
    text-decoration: underline;
  }
}
