.custom-mfp {
  @include bp($bp-540) {
    .mfp-container {
      padding: 0 20px;
    }
  }
}

.b-popup {
  position: relative;
  width: 100%;
  max-width: 480px;
  background-color: #fff;
  border-radius: 6px;
  padding: 30px;
  margin: 0 auto;

  @include bp($bp-540) {
    padding: 20px;
  }

  & > button {
    top: 28px;
    right: 30px;
    font-size: 0;
    @include svg-i-close-gray;

    @include bp($bp-540) {
      top: 18px;
      right: 20px;
    }

    &:active {
      top: 27px;
      transform: none;
    }
  }

}

.b-popup__wrap {

}

.b-popup__title {
  font-family: $Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.78;
  letter-spacing: normal;
  text-align: left;
  color: $black;
  margin-bottom: 30px;
}

.b-popup__img {
  position: relative;
  margin-top: -116px;
  margin-bottom: 8px;
  left: -90px;

  @include bp($bp-410) {
    margin-top: -30px;
    left: 0;
  }

  @include bp($bp-360) {
    left: -7px;
  }

  img {
    display: block;
    width: 480px;
    height: 458px;
    object-fit: cover;

    @include bp($bp-410) {
      width: 300px;
      height: 292px;
    }

    @include bp($bp-360) {
      width: 260px;
      height: 260px;
    }
  }
}

.b-popup__desc {
  font-family: $Roboto;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: $black;
  margin-bottom: 20px;
}

.b-popup__form {
  .b-form__item {
    margin-bottom: 20px;

    input, textarea {
      border-radius: 3px;
      border: solid 1px #e5e5e5;
      font-family: $Roboto;
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: normal;
      text-align: left;
      color: $black-40;
      padding: 17px 20px;
    }

    textarea {
      height: 240px;
    }
  }

  .b-form__load {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .b-form__submit {
    justify-content: center;

    button {
      border-radius: 8px;
      font-size: 16px;
      padding: 15px 21px;
    }
  }

  .b-form__b-email {
    .b-form__item {
      width: calc(100% - 140px);
      margin-bottom: 0;

      @include bp($bp-410) {
        width: calc(100% - 113px);
      }

      input {
        line-height: 1;
        border-radius: 8px 0 0 8px;
        padding-top: 16px;
        padding-bottom: 16px;

        @include bp($bp-410) {
          padding-left: 14px;

          font-size: 13px;
        }
      }
    }

    .b-form__submit {
      button {
        margin-left: -1px;
        border-radius: 0 8px 8px 0;
        padding-top: 17px;
        padding-bottom: 17px;

        @include bp($bp-410) {
          padding-top: 18px;
          font-size: 14px;
          padding-left: 14px;
          padding-right: 14px;
        }
      }
    }
  }

  .g-recaptcha {
    margin-bottom: 20px;

    @include bp($bp-360) {
      transform: scale(0.88);
      transform-origin: 0 0;
      margin-bottom: 15px;
    }

    & > div {
      margin: auto;
    }
  }
}

.b-popup__error {
  font-family: $Roboto;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: $black;
  margin-bottom: 28px;

  span {
    font-weight: normal;
    color: #d0021b;
  }
}

//
// Modifier
//

.b-popup--sub {
  max-width: 380px;

  .b-popup__title {
    margin-bottom: 20px;
  }
}

.b-popup--auth {
  max-width: 340px;
  padding-bottom: 0;

  .b-popup__form {
    .b-form__submit {
      justify-content: space-between;
    }
  }
}

.b-popup--reg {
  max-width: 340px;
  padding-bottom: 0;
}

.b-popup--recovery {
  max-width: 340px;
  padding-bottom: 0;

  .b-form__submit {
    margin-bottom: 30px;
  }
}

.b-popup--error {
  @include bp($bp-360) {
    max-width: 308px;
  }

  .b-form__item {
    textarea {
      height: 140px;
    }
  }
}
