.b-poll {
  display: flex;
  width: 100%;
}

.b-poll-list {

}

.b-polls-list__wrap {

  .b-poll {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 40px;
    }
  }
}

.b-poll__info {
  width: calc(100% - 280px);
  border-right: solid 1px $white-two;

  @include bp($bp-540) {
    width: 100%;
    border: none;
  }

  .b-poll__card {
    display: block;
  }
}

.b-poll__tabs {
  width: 280px;
  max-height: 545px;
  overflow: hidden;

  @include bp($bp-540) {
    display: none;
  }

  &.change-padding {

    .b-poll__tabs-scroll {
      padding-right: 17px;
    }
  }
}

.b-poll__card {
  padding: 20px;
  width: 100%;
  border: solid 1px $white-two;
}

.b-poll__card-title {
  font-family: $Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: $black;
  margin-bottom: 20px;
  text-align: left;
}

.b-poll__content {

}

.b-poll__item {
  position: relative;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  h4 {
    font-family: $Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: $black;
    margin-bottom: 10px;
    text-align: left;
  }
}

.b-poll__progress {
  position: relative;
  width: calc(100% - 40px);
  height: 30px;
  border-radius: 3px;
  background-color: #f7f9fb;
  cursor: pointer;
  transition: .3s ease-in-out all;

  &:hover {
    background-color: rgba(245, 180, 74, 0.35);
  }

  .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $maize;
    border-radius: 3px;
    transition: .4s ease-in-out all;
  }

  span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-family: $Roboto;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: $black;
    z-index: 10;
    opacity: 0;
    transition: .4s ease-in-out opacity;
    -webkit-font-smoothing: antialiased;
  }
}

.b-poll__persent {
  position: absolute;
  bottom: 7px;
  right: -2px;
  font-family: $Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: $black;
  opacity: 0;
  transition: .4s ease-in-out all;
}

.b-poll__total {
  margin-top: 20px;
  font-family: $Roboto;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: $black;
  text-align: left;

  b {
    font-weight: 500;
  }
}

//
// mod
//

.b-poll__content--complete {
  .b-poll__progress {
    cursor: default;
    pointer-events: none;

    span {
      opacity: 1;
    }

    &:hover {
      //background-color: $pale-grey;
    }
  }
  .b-poll__persent {
    opacity: 1;
  }
}
