.b-poster {

  .b-category__filter {
    @include bp($bp-1000) {
      right: auto;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @include bp($bp-540) {
      transform: translate(0, -50%);
    }
  }
}

.b-poster__video {
  position: relative;
  width: 100%;
  height: 520px;
  margin-bottom: 30px;

  @include bp($bp-1000) {
    width: 100%;
    height: 420px;
  }
}

.b-poster__video-content {
  position: absolute;
  left: 40px;
  bottom: 40px;
  transition: .3s ease-in-out all;
  z-index: 10;

  @include bp($bp-1000) {
    left: 30px;
    bottom: 30px;
  }

  @include bp($bp-540) {
    left: 20px;
    bottom: 20px;
  }
}

.b-poster__video-title {
  font-family: $RobotoSlab;
  font-size: 42px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: $white;
  margin-bottom: 18px;

  @include bp($bp-1000) {
    font-size: 38px;
    line-height: 1.11;
    margin-bottom: 20px;
  }

  @include bp($bp-540) {
    font-size: 22px;
    line-height: 1.36;
  }
}

.b-poster__video-info {
  position: relative;
  display: flex;
  align-items: center;

  time {
    font-size: 14px;
    color: $white-60;
  }

  & > a {
    line-height: 1;
  }

  & > span {
    display: block;
    width: 1px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0 20px;

    @include bp($bp-540) {
      margin: 0 10px;
    }
  }
}

.b-poster__video-label {
  font-size: 14px;
  color: $white-60;
}

.b-poster__video-comments {
  font-size: 14px;
  margin-left: 40px;
  color: $white;
  opacity: .6;

  @include bp($bp-540) {
    margin-left: 20px;
  }
}

.b-poster__video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include svg-i-play-poster-lg;
  cursor: pointer;
  z-index: 10;
  transition: .3s ease-in-out all;
}

.b-poster__video-img {
  position: relative;
  width: 100%;
  height: 100%;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(231deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.53));
    transition: .3s ease-in-out all;
    z-index: 5;
  }

  @include bp($bp-1000) {
    position: relative;
    width: 100%;
    height: 100%;
  }

  img {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 5;
    transition: .3s ease-in-out all;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

//
//Modifier
//

.b-poster__video--hidden {
  .b-poster__video-content, .b-poster__video-play {
    opacity: 0;
    visibility: hidden;
  }

  .b-poster__video-img {
    img, &:after {
      opacity: 0;
      visibility: hidden;
    }
  }
}
