.b-search {
  .page__button {
    margin-bottom: 10px;

    @include bp($bp-1000) {
      margin-bottom: 20px;
    }

    @include bp($bp-540) {
      margin-bottom: 40px;
    }
  }
}

.b-search__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;

  @include bp($bp-1000) {
    margin-bottom: 30px;
  }

  @include bp($bp-540) {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 28px;
  }
}

.b-search__title {
  font-family: $RobotoSlab;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.07;
  letter-spacing: normal;
  text-align: left;
  color: $black;

  @include bp($bp-540) {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 10px;
  }
}

.b-search__label {
  font-family: $RobotoSlab;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: $warm-grey-two;
}

.b-search__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;

  @include bp($bp-1000) {
    margin-bottom: 0;
  }

  .news {
    width: calc(100%/4 - (3*30px)/4);

    @include bp($bp-1000) {
      width: calc(100%/2 - 10px);
    }

    @include bp($bp-540) {
      width: 100%;
    }
  }

  .news--slider {
   width: 100%;
    height: 420px;
    margin-bottom: 40px;

    @include bp($bp-540) {
      margin-bottom: 20px;
    }

    .news__img {
      height: 100%;
    }

    .news__content {
      transform: none;
      left: 40px;
      top: auto;
      bottom: 40px;

      @include bp($bp-712) {
        left: 30px;
        bottom: 30px;
      }

      @include bp($bp-540) {
        left: 20px;
        bottom: 20px;
      }
    }
  }

  .news--aside {
    &:nth-last-child(-n+4) {
      border-color: transparent;
      margin-bottom: 0;
    }

    @include bp($bp-1000) {
      .news__content h3 {
        max-width: 210px;
      }

      .news__comments {
        position: relative;
        margin-left: 20px;
      }

      &:nth-last-child(-n+4) {
        border-color: $white-two;
        margin-bottom: 30px;
      }

      &:nth-last-child(-n+2) {
        border-color: transparent;
        margin-bottom: 0;
      }
    }

    @include bp($bp-540) {
      width: 100%;

      .news__content h3 {
        max-width:100%;
      }

      .news__comments {
        margin-left: 0;
        position: absolute;
      }

      &:nth-last-child(-n+4) {
        border-color: $white-two;
        margin-bottom: 20px;
      }

      &:nth-last-child(-n+2) {
        border-color: $white-two;
        margin-bottom: 20px;
      }

      &:last-child {
        border-color: transparent;
        margin-bottom: 0;
      }
    }
  }
}
