#popup-error.b-popup.mfp-hide
    .b-popup__wrap
        .b-popup__title Ошибка на сайте
        .b-popup__error
        form.b-form
            .b-form__item
                input(type='email' placeholder='Введите E-mail')
            .b-form__item
                textarea(placeholder='Опишите ошибку')
            .b-form__submit
                button(type='submit') Отправить

