@font-face {
  font-family: 'Roboto Slab';
  src: local('Roboto Slab Thin'), local('RobotoSlab-Thin'), url('./fonts/RobotoSlab/100.woff2') format('woff2') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Slab';
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url('./fonts/RobotoSlab/300.woff2') format('woff2'), url('./fonts/RobotoSlab/300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Slab';
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url('./fonts/RobotoSlab/400.woff2') format('woff2'), url('./fonts/RobotoSlab/400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Slab';
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url('./fonts/RobotoSlab/700.woff2') format('woff2'), url('./fonts/RobotoSlab/700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'), url('./fonts/Roboto/Robotolight.woff2') format('woff2'), url('./fonts/Roboto/Robotolight.woff') format('woff'), url('./fonts/Roboto/Robotolight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('./fonts/Roboto/Robotolightitalic.woff2') format('woff2'), url('./fonts/Roboto/Robotolightitalic.woff') format('woff'), url('./fonts/Roboto/Robotolightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'), url('./fonts/Roboto/Roboto.woff2') format('woff2'), url('./fonts/Roboto/Roboto.woff') format('woff'), url('./fonts/Roboto/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'), url('./fonts/Roboto/Robotomedium.woff2') format('woff2'), url('./fonts/Roboto/Robotomedium.woff') format('woff'), url('./fonts/Roboto/Robotomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Courier';
  font-style: normal;
  font-weight: 400;
  src: local('Courier'), local('Courier-Regular'),
  url(http://allfont.ru/cache/fonts/courier_e50b9e0d3ba911758c5f7443992ba777.woff) format('woff'),
  url(http://allfont.ru/cache/fonts/courier_e50b9e0d3ba911758c5f7443992ba777.ttf) format('truetype');
}



