a {
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: $RobotoSlab;
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: $black;

  @include bp($bp-ipad-1024) {
    font-size: 38px;
    line-height: 1.26;
  }

  @include bp($bp-540) {
    font-size: 22px;
    line-height: 1.36;
    text-align: left;
  }
}
