.answer-item {
  display: flex;
  padding: 20px;
  border-radius: 5px;
  background-color: #fffbf5;
  margin-bottom: 20px;

  @include bp($bp-480) {
    padding: 10px 10px 43px;
    //background-color: #fff;
  }

  &:last-child {
    margin-bottom: 0;
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    @include bp($bp-480) {
      width: 40px;
      height: 40px;
    }
  }
}

.answer-item__user {
  width: calc(100% - 70px);
  margin-left: 20px;

  @include bp($bp-480) {
    position: relative;
    margin-left: 10px;
  }
}

.answer-item__header {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  @include bp($bp-480) {
    position: static;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
  }

  time {
    position: absolute;
    top: 0;
    right: 0;
    color: $warm-grey-two;
    opacity: .7;

    @include bp($bp-480) {
      top: auto;
      bottom: -26px;
    }
  }
}

.answer-item__user-name {
  font-family: $Roboto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: $black;
}

.answer-item__user-responded {
  opacity: 0.7;
  font-family: $Roboto;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: $warm-grey-two;
  margin-left: 10px;

  @include bp($bp-480) {
    margin-top: 9px;
    margin-left: 0;
  }
}

.answer-item__text  {
  font-family: $Roboto;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: $black;

  @include bp($bp-480) {
    width: calc(100% + 50px);
    margin-left: -50px;
  }
}

.answer-item__like {
  margin-top: 14px;

  @include bp($bp-480) {
    position: absolute;
    left: -50px;
    bottom: -29px;
  }
}
