.comment-item {
  position: relative;
  padding-bottom: 21px;
  margin-bottom: 20px;

  @include bp($bp-480) {

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 70px;
    width: calc(100% - 70px);
    height: 1px;
    background-color: #f1f1f1;
  }

  &:last-child {
    margin-bottom: 0;

    &:after {
      display: none;
    }
  }

  .b-form {
    margin-top: 20px;
    padding-left: 70px;

    @include bp($bp-480) {
      padding-left: 0;
    }
  }
}

.comment-item__wrap {
  width: 100%;
  display: flex;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    font-family: 'object-fit: cover;';

    @include bp($bp-480) {
      width: 40px;
      height: 40px;
    }
  }
}

.comment-item__user {
  width: calc(100% - 50px);
  padding-left: 20px;

  @include bp($bp-480) {
    padding-left: 10px;
    width: calc(100% - 40px);
  }
}

.comment-item__user-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  @include bp($bp-480) {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
  }

  time {
    font-weight: 300;
    line-height: 1.14;
    opacity: 0.7;
    color: $warm-grey-two;
  }
}

.comment-item__user-name {
  font-family: $Roboto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: $black;

  @include bp($bp-480) {
    margin-bottom: 8px;
  }
}

.comment-item__user-text {
  @include bp($bp-480) {
    width: calc(100% + 50px);
    margin-left: -50px;
  }

  p {
    font-family: $Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: $black;

    @include bp($bp-480) {
      padding-right: 0;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.comment-item__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13px;

  @include bp($bp-480) {
    width: calc(100% + 50px);
    margin-left: -50px;
    margin-top: 10px;
  }
}

.comment-item__reply  {
  position: relative;
  float: right;
  font-family: $Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 22px;
  letter-spacing: normal;
  text-align: left;
  color: $dark-sky-blue;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

.comment-item__answer-list {
  margin-top: 30px;
  padding-left: 70px;

  @include bp($bp-480) {
    padding-left: 0;
  }
}

.comment-item__form {
  .b-form__load {
    margin-left: 70px;

    @include bp($bp-480) {
      margin-left: 50px;
    }
  }

  .b-form__images {
    margin-left: 70px;

    @include bp($bp-480) {
      margin-left: 50px;
    }
  }
}
