.filter {
  display: flex;

  @include bp($bp-540) {
    position: relative;
    width: 100%;
  }
}

.filter__link {
  margin-right: 30px;
  font-family: $Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $black-40;
  transition: .3s ease-in-out all;
  cursor: pointer;

  @include bp($bp-540) {
    margin-right: 28px;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    text-decoration: underline;
  }
}

.filter__dropdown {
  display: none;

  @include bp($bp-540) {
    display: block;
    border-radius: 6px;
    top: 0px;
    left: 0;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out all;
  }

  &.active {
    transform: translateY(18px);
    opacity: 1;
    visibility: visible;
  }
}

//
// Modifier
//

.filter__link--active {
  pointer-events: none;
  color: $black;

  &:hover {
    text-decoration: none;
  }
}
