.hash-tag {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -10px;

  @include bp($bp-640) {
    flex-wrap: nowrap;
  }
}

.hash-tag__item {
  font-family: $Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: $dark-sky-blue;
  margin-right: 30px;
  margin-bottom: 10px;
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease-in-out opacity,  0.3s ease-in-out visibility;


  &.hidden {
    width: 0;
    padding: 0;
    margin-right: 0;
    opacity: 0;
    visibility: hidden;

    @include bp($bp-640) {
      width: auto;
      padding: 0 20px;
      margin-right: 10px;
      opacity: 1;
      visibility: visible;
    }
  }

  //&:first-child {
  //  @include bp($bp-640) {
  //    margin-left: 20px;
  //  }
  //}
}

.hash-tag__more {
  position: relative;
  top: -3px;
  left: -20px;
  width: 24px;
  height: 24px;
  cursor: pointer;

  @include bp($bp-640) {
    display: block;
    visibility: hidden;
    width: 24px;
  }

  &.active {
    display: none;
    @include bp($bp-640) {
      display: block;
    }
  }

  &:after {
    content: '...';
    font-family: $Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: $dark-sky-blue;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}
