.like {
  width: 88px;
  position: relative;
  display: flex;
  align-items: center;
}

.like__btn {
  opacity: .2;
  transition: .3s ease-in-out opacity;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
  &.like__btn--up {
    @include svg-i-like_black;
    margin-right: 24px;

    &.active {
      opacity: 1;
      @include svg-i-like_green;
    }
  }
}

.like__count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: $black;
}

//
// mod
//

.like__btn--up {
  margin-right: 24px;
  @include svg-i-like_black;

  &.active {
    opacity: 1;
    @include svg-i-like_green;
  }
}

.like__btn--down {
  margin-left: 24px;
  @include svg-i-dis_black;

  &.active {
    opacity: 1;
    @include svg-i-dis_red;
  }
}
