.news {
  width: calc(100%/3 - (2*30px)/3);
  margin: 0 0 30px;
  position: relative;
  outline: none;

  @include bp($bp-ipad-1024) {
    width: calc(100%/2 - (30px)/2);
  }

  @include bp($bp-1000) {
    width: calc(100%/2 - (20px)/2);
  }

  @include bp($bp-540) {
    width: 100%;
  }

  &:last-child {
    border-color: transparent;
    margin-bottom: 0;
  }

  &:hover {
    .news__content {
      h3 {
        color: $maize;
      }
    }
  }

  .news__img {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  outline: none;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
  }
}
}

.news__content {
  h3 {
    font-family: $RobotoSlab;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: $black;
    margin-bottom: 14px;
    transition: .3s ease-in-out color;

    @include bp($bp-540) {
      font-size: 18px;
      line-height: 1.33;
    }

    a {
      outline: none;
    }
  }
}

.news__info {
  position: relative;
  display: flex;
  align-items: center;

  & > a {
    line-height: 1;
  }

  & > span {
    display: block;
    width: 1px;
    height: 20px;
    background-color: $greyish;
    margin: 0 10px;
  }
}

.news__comments {
  position: absolute;
  right: 0;

  &:before {
    @include svg-i-comments_black;
    opacity: .2;
  }
}

.news__label {

}

.news__icon {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
}

.news__icon-item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.news__favorite {
  position: absolute;
  top: 0;
  right: 0;
  @include svg-i-star-color
}

//
// Modifier
//

.news--full {
  position: relative;

  .news__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 0;

    &:after {
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    }
  }

  .news__content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);

    h3 {
      color: $white;
    }
  }

  .news__label, .news__comments, time {
    color: $white-60;
  }

  .news__comments {
    &:before {
      @include svg-i-comments_white;
      opacity: .6;
    }
  }
}

.news--full-custom {
  height: 390px;

  &:hover {
    .news__content h3 {
      color: $white;
    }
  }

  .news__img {

    &:after {
      display: none;
    }
  }

  .news__img-text {
    position: absolute;
    top: 74px;
    left: 0;
    right: 0;

    h4, span {
      font-family: $RobotoSlab;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      color: $white;
    }

    h4 {
      font-size: 100px;
      font-weight: bold;
      line-height: 1;
      margin: 0;
    }

    span {
      display: block;
      font-size: 18px;
      line-height: 1.67;
      font-weight: normal;
    }
  }

  .news__content {
    h3 {
      color: $black;
    }
  }
  .news__info {
    & > span {
      background-color: $white-60;
    }
  }

  .news__comments {
    &:before {
      @include svg-i-comments_white;
      opacity: .6;
    }
  }
}


.news--slider {
  width: 100%;
  margin: 0;

  .news__img {
    position: relative;
    margin-bottom: 0;

    &:after {
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    }
  }

  .news__content {
    max-width: 465px;
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translate(0,-50%);

    @include bp($bp-712) {
      left: 20px;
      top: auto;
      bottom: 86px;
      transform: none;
    }

    h3 {
      font-size: 42px;
      line-height: 1.19;
      color: $white;

      @include bp($bp-712) {
        font-size: 18px;
        line-height: 1.33;
      }
    }
  }

  .news__label, .news__comments, time {
    font-size: 14px;
    color: $white-60;

    @include bp($bp-712) {
      font-size: 12px;
    }
  }

  .news__comments {
    margin-left: 40px;
    position: relative;

    @include bp($bp-540) {
      margin-left: 20px;
    }

    &:before {
      opacity: .6;
      @include svg-i-comments_white;
    }
  }
}

.news--mini {
  width: calc(100%/6 - (5*30px)/6);

  @include bp($bp-ipad-1024) {
    width: calc(100%/4 - (3*30px)/4);
  }

  .news__img {
    position: relative;
      padding-top: 134%;

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .news__content {

    h3 {
      font-size: 14px;
      line-height: 1.43;
      margin-bottom: 28px;
    }
  }
}

.news--mini-full {
  .news__img {
    position: relative;
    margin-bottom: 0;
    padding-top: 110%;
    height: 100%;

    &:after {
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: linear-gradient(to bottom, rgba(126, 126, 126, 0), rgba(0, 0, 0, 0.79));
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .news__content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);

    h3 {
      color: $white;
    }
  }

  .news__label, .news__comments, time {
    color: $white-60;
  }

  .news__comments {
    &:before {
      @include svg-i-comments_white;
      opacity: .6;
    }
  }
}

.news--aside {
  width: 100%;
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid $white-two;

  @include bp($bp-540) {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .news__img {
    width: 70px;
    height: 90px;
    margin-bottom: 0;

    img {

    }
  }

  .news__content {
    position: relative;
    width: calc(100% - 70px);
    padding-left: 20px;

    h3 {
      font-size: 14px;
      line-height: 1.43;
    }
  }

  .news__info {
    width: calc(100% - 20px);
    position: absolute;
    left: 20px;
    bottom: 2px;
  }

  & + .news--aside-full {
    margin-top: -31px;
  }
}

.news--aside-lg {
  width: 100%;
  padding-bottom: 29px;
  border-bottom: 1px solid $white-30;;

  .news__img {
    height: 180px;

    img {

    }
  }
}

.news--aside-full {
  width: 100%;

  .news__img {
    position: relative;
    margin-bottom: 0;

    &:after {
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: linear-gradient(to bottom, rgba(126, 126, 126, 0), rgba(0, 0, 0, 0.79));
    }
  }

  .news__content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);

    h3 {
      color: $white;
    }
  }

  .news__label, .news__comments, time {
    color: $white-60;
  }

  .news__comments {
    &:before {
      @include svg-i-comments_white;
      opacity: .6;
    }
  }
}

.news--aside-full--custom {
  .news__img {
    padding-bottom: 130%;

    &:after {
      display: none;
    }
  }

  .news__comments {
    &:before {
      @include svg-i-comments_white;
      opacity: 1;
    }
  }

  .news__content {
    h3 {
    color: $black;
    }
  }

  .news__info {
    & > span {
      background-color: $white;
    }
  }
  .news__label, time, .news__comments {
    color: $white;
  }

  .news__img-text {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;

    h4, span {
      font-family: $RobotoSlab;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      color: $white;
    }

    h4 {
      font-size: 100px;
      font-weight: bold;
      line-height: 1;
      margin: 0;
    }

    span {
      display: block;
      font-size: 18px;
      line-height: 1.67;
      font-weight: normal;
    }
  }
}

.news--full-mobile {
  @include bp($bp-ipad-1024) {
    width: 100%;

    .news__img img {
      max-height: 392px;
    }
  }
}

.news--desktop-hidden {
  display: none;

  @include bp($bp-540) {
    display: flex;
  }
}

.news--mobile-hidden {
  @include bp($bp-540) {
    display: none;
  }
}

.news--last {
  border: none;
  padding-bottom: 10px;
}

.news__icon-item--media {
  @include svg-i-news-media;
}

.news__icon-item--video {
  @include svg-i-news-video;
}

.news__icon-item--poll {
  @include svg-i-news-poll
}

.news--favorite-disable {
  .news__img, .news__content h3, .news__info {
    opacity: .3;
  }

  .news__favorite {
    @include svg-i-star-dis;
  }
}
