.news-slider {
  position: relative;
  width: 100%;
  height: 420px;
  margin-bottom: 30px;


  .slick-arrow {
    position: absolute;
    top: auto;
    left: 40px;
    bottom: 60px;
    z-index: 10;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    margin: 0;


    @include bp($bp-712) {
      bottom: 30px;
      left: 20px;
    }

    &:hover {
      &:before {
        transform: scale(1.12);
      }
    }

    &:last-child {
      margin-left: 20px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 15px;
      border: solid 1px $white;
      transition: .2s ease-in-out all;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .slick-prev {
    transform: rotate(-90deg);
    &:after {
      @include svg-i-arrow-top-slider_white;
    }
  }

  .slick-next {
    left: 70px;

    @include bp($bp-712) {
      left: 50px;
    }

    transform: rotate(-90deg);
    &:after {
      @include svg-i-arrow-bottom-slider_white;
    }
  }
}

.news-slider__wrap {
  height: 100%;

  .slick-list, .slick-track, .slick-slide > div {
    height: 100%;
  }
}

.news-slider__item {
  height: 100%;

  .news--slider, .news__img {
    height: 100%;
  }
}

.news-slider__img {
}


//
// Modifier
//

.news-slider--mini {
  width: calc(100%*(2/3) - 11.5px*(2/3));
  height: 390px;

  @include bp($bp-1000) {
    width: calc(100%/2 - (20px)/2);
  }

  @include bp($bp-540) {
    width: 100%;
    height: 420px;
    margin-bottom: 20px;
  }

  .news--slider .news__content  {
    top: auto;
    transform: none;
    bottom: 80px;
    width: calc(100% - 40px);

    @include bp($bp-ipad-768) {
      max-width: 290px;
      left: 20px;
    }

    h3 {
      font-size: 22px;
      line-height: 1.36;
    }
  }

  .slick-arrow {
    bottom: 30px;

    @include bp($bp-ipad-768) {
      left: 20px;
    }
  }

  .slick-next {
    @include bp($bp-ipad-768) {
      left: 50px;
    }
  }
}
