.social {
  display: flex;
}

.social__item {
  position: relative;
  width: 34px;
  height: 34px;
  border-radius: 5px;
  margin-right: 20px;
  transition: .3s ease background-color;

  @include bp($bp-479) {
    margin-right: 12px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: .3s ease transform;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    &:after {
      transform: translateY(-2px);
    }
  }
}

//
// mod
//

.social__item--insta {
  &:after {
    @include svg-i-insta;
  }
}

.social__item--vk {
  background-color: #6092d5;

  &:after {
    @include svg-i-vk_white;
  }
}

.social__item--tw {
  background-color: #7cbdf5;

  &:after {
    @include svg-i-tw_white;
  }
}

.social__item--fb {
  background-color: #4c73cd;

  &:after {
    @include svg-i-fb_white;
  }
}

.social__item--ok {
  background-color: $maize;

  &:after {
    @include svg-i-ok_white;
  }
}

.social__item--gplus {
  background-color: #f34a38;

  &:after {
    @include svg-i-google-plus_white;
  }
}

.social--login {
  .social__item {
    margin-right: 10px;
    border-radius: 17px;

    &:last-child {
      margin-right: 0;
    }
  }

  .social__item--vk {
    &:after {
      @include svg-i-vk_white;
    }
  }

  .social__item--tw {
    &:after {
      @include svg-i-tw_white;
    }
  }

  .social__item--fb {
    &:after {
      @include svg-i-fb_white;
    }
  }

  .social__item--ok {
    &:after {
      @include svg-i-ok_white;
    }
  }
}

.social--detail {

  .social__item {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border-width: 1px;
    border-style: solid;
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }

  .social__item--vk {
    border-color: #6092d5;

    &:after {
      @include svg-i-vk-color;
    }
  }

  .social__item--tw {
    border-color: #7cbdf5;

    &:after {
      @include svg-i-tw-color;
    }
  }

  .social__item--fb {
    border-color: #4c73cd;

    &:after {
      @include svg-i-fb-color;
    }
  }

  .social__item--ok {
    border-color: #f5b44a;

    &:after {
      @include svg-i-ok-color;
    }
  }

  .social__item--favorite {
    border-color: #d8d8d8;

    &:after {
      @include svg-i-star;
    }
  }
}
