.sub-menu {
  display: flex;
  flex-wrap: wrap;
}

.sub-menu__link {
  position: relative;
  margin-right: 30px;

  @include bp($bp-1190) {
    margin-right: 20px;
  }

  @include bp($bp-1023) {
    margin-right: 30px;
  }


  &:last-child {
    margin-right: 0;
  }

  &:hover {
    a {
      color: $macaroni-and-cheese;
    }
  }

  a {
    font-family: $Roboto;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: $white;
    transition: .3s ease-in-out all;
  }
}

//
// Modifier
//

.sub-menu__link--active {

}
