.b-video {
  .page__button {
    margin-bottom: 80px;

    @include bp($bp-894) {
      margin-top: 10px;
      margin-bottom: 60px;
    }

    @include bp($bp-640) {
      margin-bottom: 40px;
    }
  }
}

.video {
  position: relative;
  width: calc(50% - 15px);
  height: 300px;
  margin-bottom: 30px;

  &:hover {
    .video__link {
      color: $maize;
    }
  }

  @include bp($bp-1000) {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }

  @include bp($bp-640) {
    width: 100%;
  }
}

.video__two-item {
  position: relative;
  width: calc(50% - 15px);
  height: 300px;
  margin-bottom: 30px;

  @include bp($bp-1000) {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }

  @include bp($bp-640) {
    width: 100%;
    height: auto;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $white-three;
    z-index: 100;

    @include bp($bp-640) {
      display: none;
    }
  }
}

.video__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.video__content {
  width: calc(100% - 30px);
  position: absolute;
  left: 30px;
  bottom: 30px;
  display: flex;
  align-items: center;

  @include bp($bp-894) {
    left: 20px;
    bottom: 20px;
  }

  @include bp($bp-480) {
    align-items: flex-start;
  }
}

.video__play {
  display: block;
  @include svg-i-play-lg;
  margin-right: 20px;
  cursor: pointer;
}

.video__link {
  width: calc(100% - 52px - 20px);
  font-family: $RobotoSlab;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: $white;
  padding-right: 30px;
  transition: .3s ease-in-out all;

  @include bp($bp-480) {
    font-size: 12px;
  }
}


//
// Modifier
//

.video--half {
  width: 100%;
  height: 150px;
  margin-bottom: 0;
  display: flex;

  @include bp($bp-640) {
    height: 100px;

    &:last-child {
      margin-top: 20px;
    }
  }

  .video__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: 0;
    outline: none;
  }

  .video__bg {
    position: relative;
    width: 32.3%;
    outline: none;

    @include bp($bp-894) {
      width: 150px;
    }

    @include bp($bp-640) {
      width: 100px;
    }
  }

  .video__content {
    position: static;
    width: 66.7%;
    align-items: center;

    @include bp($bp-894) {
      width: calc(100% - 150px);
    }
  }

  .video__link {
    width: calc(100% - 20px);
    margin-left: 30px;
    color: $black;

    @include bp($bp-1190) {
      font-size: 15px;
      padding-right: 0;
    }

    @include bp($bp-894) {
      font-size: 13px;
      max-width: 300px;
    }

    @include bp($bp-640) {
      margin-left: 20px;
    }
  }
}

.video--full {
  width: 100%;
  height: 350px;

  .video__link {
    max-width: 379px;
    padding-right: 0;
  }
}
