mixin news--aside(url, src, title, data, time, comments)
        .news.news--aside
            a(href='').news__img
                img(src=src alt='')
            .news__content
                h3
                    a(href='') #{title}
                .news__info
                    a(href='')
                        time #{data}
                            span #{time}
                    a(href='').news__comments.comments #{comments}

mixin news--aside-favorite(url, src, title, data, time, comments)
    .news.news--aside
        a(href='').news__img
            img(src=src alt='')
        .news__content
            h3
                a(href='') #{title}
                .news__favorite
            .news__info
                a(href='')
                    time #{data}
                        span #{time}
                a(href='').news__comments.comments #{comments}
mixin news--aside-favorite-dis(url, src, title, data, time, comments)
    .news.news--aside.news--favorite-disable
        a(href='').news__img
            img(src=src alt='')
        .news__content
            h3
                a(href='') #{title}
                .news__favorite
            .news__info
                a(href='')
                    time #{data}
                        span #{time}
                a(href='').news__comments.comments #{comments}

mixin news--aside-detail(url, src, title, data, time)
    .news.news--aside
        a(href='').news__img
            img(src=src alt='')
        .news__content
            h3
                a(href='') #{title}
            .news__info
                a(href='')
                    time #{data}
                        span #{time}

mixin news--aside-lg(url, src, title, label, data, time, comments)
    .news.news--aside-lg
        a(href='').news__img
            img(src=src alt='')
        .news__content
            h3
                a(href='') #{title}
            .news__info
                a(href='').news__label.label #{label}
                span
                a(href='')
                    time #{data}
                        span #{time}
                a(href='').news__comments.comments #{comments}

mixin news--aside-full(url, src, title, label, data, time, comments)
        .news.news--aside-full
            a(href='').news__img
                img(src=src alt='')
            .news__content
                h3
                    a(href='') #{title}
                .news__info
                    a(href='').news__label.label #{label}
                    span
                    a(href='')
                        time #{data}
                            span #{time}
                    a(href='').news__comments.comments #{comments}

mixin news--aside-full--custom(url, src, title, label, data, time, comments)
    .news.news--aside-full.news--aside-full--custom
        a(href='').news__img(style='background-color: #76bfff')
            .news__img-text
                h4 600
                span тысяч человек
        .news__content
            h3
                a(href='') #{title}
            .news__info
                a(href='').news__label.label #{label}
                span
                a(href='')
                    time #{data}
                        span #{time}
                a(href='').news__comments.comments #{comments}

mixin news--aside-with-hidden(url, src, title, data, time, comments)
    .news.news--aside.news--desktop-hidden
        a(href='').news__img
            img(src=src alt='')
        .news__content
            h3
                a(href='') #{title}
            .news__info
                a(href='')
                    time #{data}
                        span #{time}
                a(href='').news__comments.comments #{comments}

mixin news--aside-with-hidden--last(url, src, title, data, time, comments)
    .news.news--aside.news--desktop-hidden.news--last
        a(href='').news__img
            img(src=src alt='')
        .news__content
            h3
                a(href='') #{title}
            .news__info
                a(href='')
                    time #{data}
                        span #{time}
                a(href='').news__comments.comments #{comments}

