extends _layout_without_aside
block title
    title 404 Ошибка
block content
    -var img1 = './images/illustr/Tolk_illustration_404.png'

    .b-error
        .container
            .b-breadcrumbs
                a(href='').b-breadcrumbs__link Главная
                a(href='').b-breadcrumbs__link 404 Ошибка
            .b-category__header
                h1 404 ошибка
            .page__wrapper
                .page__content
                    .b-error__img
                        +img(img1)
                        p Упс! Такой страницы нет!
                        p Но вы можете перейти на
                            a(href='/')  главную






