include mixins/_all-mixins

doctype html
html(lang='ru')
    -var imgNews_Section_mini = 'https://loremflickr.com/g/135/180/news'
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(name="format-detection" content="telephone=no")

        link(rel='stylesheet' href="./css/style.css")
        script(src='https://www.google.com/recaptcha/api.js')

    block title
            title Заголовок по умолчанию
    body
        .b-wrapper
            include blocks/_b-header
            .b-menu
                .container
                    .b-menu__wrap
                        .b-auth
                            .b-auth__wrap
                                .b-auth__title Авторизация
                                form.b-form
                                    .b-form__item
                                        input(placeholder='Ваш E-mail' type='email')
                                    .b-form__item
                                        input(placeholder='Пароль' type='password')
                                    .b-form__submit
                                        a(href='') Забыли пароль?
                                        button Отправить
                                .b-auth__soc
                                    p Войти через
                                        br
                                        | соцсети:
                                    include blocks/_social--mini
                                .b-auth__reg Впервые здесь?
                                    a(href='')  Зарегистрируйтесь

                        .b-menu__list
                            .page__button.page__button--sm Войти
                            .b-menu__list-wrap
                                ul
                                    li
                                        a(href='') Политика
                                    li.active
                                        a(href='') Экономика
                                    li
                                        a(href='') Культура
                                    li
                                        a(href='') Спорт
                                    li
                                        a(href='') Новости
                                    li
                                        a(href='') Афиша
                                ul
                                    li
                                        a(href='') Политика
                                    li
                                        a(href='') Экономика
                                    li
                                        a(href='') Культура
                                    li
                                        a(href='') Спорт
                                    li
                                        a(href='') Новости
                                    li
                                        a(href='') Афиша
                                ul
                                    li
                                        a(href='') Политика
                                    li
                                        a(href='') Экономика
                                    li
                                        a(href='') Культура

                        .b-menu__footer
                            .b-menu__news
                                +news--aside(
                                '',
                                imgNews_Section_mini,
                                'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                                '24.07.2018',
                                '15:30',
                                '10'
                                )
                                span
                                +news--aside(
                                '',
                                imgNews_Section_mini,
                                'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                                '24.07.2018',
                                '15:30',
                                '10'
                                )
                                span
                                +news--aside(
                                '',
                                imgNews_Section_mini,
                                'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                                '24.07.2018',
                                '15:30',
                                '10'
                                )
                            .b-menu__footer-top
                                p Информационное агентство «ТОЛК» СМИ зарегистрировано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор). Свидетельство о регистрации ПИ № ФС 77 - 71134 от 27.09.2017 г.
                                .b-menu__footer-right
                                    .b-footer__adult 18+
                                    include blocks/_social
                            .b-menu__footer-bottom
                                .b-footer__copy © 2018, ТОЛК — интернет портал
                                .b-footer__design Design -
                                    a(href='http://mahaev.com/' target='_blank') Mahaev Nikita


                    .b-menu__bg

            .page.page--home
                block content

            include blocks/_b-footer
            #popup-auth.b-popup.b-popup--auth.mfp-hide
                .b-popup__wrap
                    .b-popup__title Авторизация
                    form.b-popup__form.b-form
                        .b-form__item
                            input(type='email' placeholder='Ваш E-mail')
                        .b-form__item
                            input(type='passowrd' placeholder='Пароль')
                        .b-form__submit
                            a(href='#popup-recovery').js-popup Забыли пароль?
                            button Отправить
                        .b-form__soc
                            span Войти через
                                br
                                | соцсети:
                            include blocks/_social--mini
                        .b-form__bottom
                            p Впервые здесь?
                                a(href='#popup-reg').js-popup Зарегистрируйтесь

            #popup-reg.b-popup.b-popup--reg.mfp-hide
                .b-popup__wrap
                    .b-popup__title Регистрация
                    form.b-popup__form.b-form
                        .b-form__item
                            input(type='text' placeholder='Ваше имя')
                        .b-form__item
                            input(type='text' placeholder='Ваша фамилия')
                        .b-form__item
                            input(type='email' placeholder='Ваш E-mail')
                        .b-form__item
                            input(type='text' placeholder='Город')
                        .b-form__item
                            input(type='password' placeholder='Пароль')
                        .b-form__submit
                            button Зарегистрироваться
                        .b-form__soc
                            span Войти через
                                br
                                | соцсети:
                            include blocks/_social--mini
                        .b-form__bottom
                            p Уже зарегистрировались?
                                a(href='') Войти



            #popup-recovery.b-popup.b-popup--recovery.mfp-hide
                .b-popup__wrap
                    .b-popup__title Восстановление пароля
                    form.b-popup__form.b-form
                        .b-form__item
                            input(type='email' placeholder='Ваш E-mail')
                        .b-form__submit
                            button Подтвердить
                        .b-form__bottom
                            p Вспомнили пароль?
                                a(href='#popup-auth').js-popup Войти

            #popup-error.b-popup.b-popup--error.mfp-hide
                .b-popup__wrap
                    .b-popup__title Ошибка на сайте
                    .b-popup__error
                    form.b-popup__form.b-form
                        .b-form__item
                            input(type='email' placeholder='Введите E-mail')
                        .b-form__item
                            textarea(placeholder='Опишите ошибку')
                        .g-recaptcha(data-sitekey="6LdQ8VsUAAAAAIJU0EhwKLReIK_JlBiCN-GR3HOR")

                        .b-form__submit
                            button(type='submit') Отправить

    //script(src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
    //script(src="//yastatic.net/share2/share.js")
    //script(src='https://www.youtube.com/iframe_api')
    //script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRIj4H-aE1sWZ3_QyLEN1X4mXp6pN5aPk")
    script(src="./js/bundle.js")
