include mixins/_all-mixins

doctype html
html(lang='ru')
    -var imgNews_Section_mini = 'https://loremflickr.com/g/135/180/news'
    -var icxo = 'https://loremflickr.com/g/60/60/people'

    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(name="format-detection" content="telephone=no")

        link(rel='stylesheet' href="./css/style.css")

        block title
            title Заголовок по умолчанию
    body
        .b-wrapper
            include blocks/_b-header--auth
            .b-menu
                .container
                    .b-menu__wrap
                        .b-menu__list
                            a(href='').b-menu__ico
                                img(src=icxo alt='')
                                p Никита Махаев
                            .b-menu__list-wrap
                                ul
                                    li
                                        a(href='') Политика
                                    li.active
                                        a(href='') Экономика
                                    li
                                        a(href='') Культура
                                    li
                                        a(href='') Спорт
                                    li
                                        a(href='') Новости
                                    li
                                        a(href='') Афиша
                                ul
                                    li
                                        a(href='') Политика
                                    li
                                        a(href='') Экономика
                                    li
                                        a(href='') Культура
                                    li
                                        a(href='') Спорт
                                    li
                                        a(href='') Новости
                                    li
                                        a(href='') Афиша
                                ul
                                    li
                                        a(href='') Политика
                                    li
                                        a(href='') Экономика
                                    li
                                        a(href='') Культура





                        .b-menu__footer
                            .b-menu__news
                                +news--aside(
                                '',
                                imgNews_Section_mini,
                                'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                                '24.07.2018',
                                '15:30',
                                '10'
                                )
                                span
                                +news--aside(
                                '',
                                imgNews_Section_mini,
                                'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                                '24.07.2018',
                                '15:30',
                                '10'
                                )
                                span
                                +news--aside(
                                '',
                                imgNews_Section_mini,
                                'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                                '24.07.2018',
                                '15:30',
                                '10'
                                )
                            .b-menu__footer-top
                                p Информационное агентство «ТОЛК» СМИ зарегистрировано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор). Свидетельство о регистрации ПИ № ФС 77 - 71134 от 27.09.2017 г.
                                .b-menu__footer-right
                                    .b-footer__adult 18+
                                    include blocks/_social
                            .b-menu__footer-bottom
                                .b-footer__copy © 2018, ТОЛК — интернет портал
                                .b-footer__design Design -
                                    a(href='http://mahaev.com/' target='_blank') Mahaev Nikita

                    .b-menu__bg
            //include blocks/_b-aside
            .page.page--home
                block content

            include blocks/_b-footer

    //script(src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
    //script(src="//yastatic.net/share2/share.js")
    //script(src='https://www.youtube.com/iframe_api')
    //script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRIj4H-aE1sWZ3_QyLEN1X4mXp6pN5aPk")
    script(src="./js/bundle.js")
