extends _layout_with_black_bg
block title
    title О проекте
block content
    -var sliderFullpageUp = './images/main/slider/main-full-slider.jpg'
    -var imgVideo_1 = 'https://loremflickr.com/g/300/394/video'
    -var imgVideo_2 = 'https://loremflickr.com/g/300/300/video'
    -var imgVideo_3 = 'https://loremflickr.com/g/1000/400/video'
    -var imgNews_mini = 'https://loremflickr.com/g/300/392/news'
    -var imgNews_Section = 'https://loremflickr.com/g/302/392/news'
    -var imgNews_Section_mini = 'https://loremflickr.com/g/135/180/news'
    -var imgNews_aside = 'https://loremflickr.com/g/70/90/news'
    -var sliderFullPage_2 = 'http://eskipaper.com/images/scenic-wallpaper-38.jpg'

    .b-about
        .container
            .b-breadcrumbs
                a(href='').b-breadcrumbs__link Главная
                a(href='').b-breadcrumbs__link О проекте
            .b-category__header
                h1 О проекте

            .page__wrapper
                .page__content
                    .page__about
                        .b-about__content
                            p
                                b ТОЛК
                                |  - является крупнейшим региональным медиахолдингом Сибири с собственной полиграфической базой и сетью распространения, который входит в число ведущих региональных издательских домов России. В настоящее время является издателем девяти печатных периодических изданий и восьми информационных интернет-ресурсов, которые ориентированы на создание качественного контента для различных читательских аудиторий - от бизнес элиты до массового потребителя.
                            h3 Ценности и миссия компании
                            .b-about__two-article
                                p Самыми главными ценностями в издательском доме являются свобода слова, соблюдение стандартов качественной журналистики и приоритет интересов человека и общества над интересами государства.
                                p Официально провозглашенная миссия «Алтапресса» - удовлетворение потребностей общества в получении объективной информации через систему независимых СМИ, в качественных рекламных и полиграфических услугах.
                            h3 Персоны
                            .b-about__persons
                                ul
                                    li
                                        p
                                            span Пургин Юрий Петрович
                                            span генеральный директор
                                        p
                                            span Овчинников Владимир Алексеевич
                                            span заместитель генерального директора
                                        p
                                            span Шаров Сергей Александрович
                                            span финансовый директор
                                    li
                                        p
                                            span Пургин Юрий Петрович
                                            span генеральный директор
                                        p
                                            span Овчинников Владимир Алексеевич
                                            span заместитель генерального директора
                                        p
                                            span Шаров Сергей Александрович
                                            span финансовый директор
                                    li
                                        p
                                            span Пургин Юрий Петрович
                                            span генеральный директор
                                        p
                                            span Овчинников Владимир Алексеевич
                                            span заместитель генерального директора
                                        p
                                            span Шаров Сергей Александрович
                                            span финансовый директор
                                    li
                                        p
                                            span Пургин Юрий Петрович
                                            span генеральный директор
                                        p
                                            span Овчинников Владимир Алексеевич
                                            span заместитель генерального директора
                                        p
                                            span Шаров Сергей Александрович
                                            span финансовый директор
                                    li
                                        p
                                            span Пургин Юрий Петрович
                                            span генеральный директор
                                        p
                                            span Овчинников Владимир Алексеевич
                                            span заместитель генерального директора
                                        p
                                            span Шаров Сергей Александрович
                                            span финансовый директор



                .page__aside.aside.aside--top.js-fixed-sroll
                    +news--aside-lg(
                    '',
                    'https://loremflickr.com/g/300/392/news',
                    'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                    'Новости',
                    '24.07.2018',
                    '15:30',
                    '10'
                    )
                    - for (var x = 0; x < 6; x++)
                        +news--aside(
                        '',
                        imgNews_aside,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )


        .js-stop-aside-scroll
