extends _layout_with_black_bg
block title
    title Реклама
block content
    -var sliderFullpageUp = './images/main/slider/main-full-slider.jpg'
    -var imgVideo_1 = 'https://loremflickr.com/g/300/394/video'
    -var imgVideo_2 = 'https://loremflickr.com/g/300/300/video'
    -var imgVideo_3 = 'https://loremflickr.com/g/1000/400/video'
    -var imgNews_mini = 'https://loremflickr.com/g/300/392/news'
    -var imgNews_Section = 'https://loremflickr.com/g/302/392/news'
    -var imgNews_Section_mini = 'https://loremflickr.com/g/135/180/news'
    -var imgNews_aside = 'https://loremflickr.com/g/70/90/news'
    -var sliderFullPage_2 = 'http://eskipaper.com/images/scenic-wallpaper-38.jpg'

    .b-advertising
        .container
            .b-breadcrumbs
                a(href='').b-breadcrumbs__link Главная
                a(href='').b-breadcrumbs__link Реклама
            .b-category__header
                h1 Реклама

            .page__wrapper
                .page__content
                    .page__about
                        .b-advertising__content
                            p «ТОЛК»– особенный, потому что это журнал для современного человека, которому не безразлично на то что творится в мире. Это не журнал о моде, это не журнал о бизнесе, это не журнал о здоровье. Ничего из этого по отдельности не является нашей специализацией, мы пишем обо всем этом вместе.
                            p «Толк» -  пишет о том, что по-настоящему интересно, о том, что привлекает, о том, что является страстью мужчин.
                            a(href='').b-advertising__download Скачать прайс на рекламу
                            p По вопросам размещения рекламы на сайте tolk.ru обращайтесь, пожалуйста,
                                a(href='') к менеджерам по продажам.
                .page__aside.aside.aside--top.js-fixed-sroll
                    +news--aside-lg(
                    '',
                    'https://loremflickr.com/g/300/392/news',
                    'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                    'Новости',
                    '24.07.2018',
                    '15:30',
                    '10'
                    )
                    - for (var x = 0; x < 2; x++)
                        +news--aside(
                        '',
                        imgNews_aside,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )


        .js-stop-aside-scroll
