extends _layout_with_black_bg
block title
    title Страница раздела
block content
    -var sliderFullpageUp = './images/main/slider/main-full-slider.jpg'
    -var imgNews_1 = 'https://loremflickr.com/g/300/394/news'
    -var imgNews_111 = 'https://loremflickr.com/g/300/394/news'
    -var imgNews_mini = 'https://loremflickr.com/g/300/392/news'
    -var imgNews_Section = 'https://loremflickr.com/g/302/392/news'
    -var imgNews_Section_mini = 'https://loremflickr.com/g/135/180/news'
    -var imgNews_aside = 'https://loremflickr.com/g/70/90/news'
    -var sliderFullPage_2 = 'http://eskipaper.com/images/scenic-wallpaper-38.jpg'

    .b-category
        .container
            include blocks/b-breadcrumbs
            .b-category__header
                h1 Экономика
                .b-category__filter
                    .filter
                        .filter__link.filter__link--active Сегодня
                        .filter__link Популярное
                        .filter__link Обсуждаемое

            .page__wrapper
                .page__content
                    .page__news
                        // начало 1ой тройки блоков
                        +news(
                        '',
                        imgNews_1,
                        '«Кристофер Робин» Марка Форстера: гимн взрослым фобиям и детским… ',
                        'Новости',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                        // два блока для декстопа(одинаковые)
                        +news--mobile-hidden(
                        '',
                        imgNews_1,
                        '«Кристофер Робин» Марка Форстера: гимн взрослым фобиям и детским… ',
                        'Новости',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                        +news--full-mobile-with-hidden(
                        '',
                        imgNews_1,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        'Новости',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                        // два блока для мобилы(одинаковые)
                        +news--aside-with-hidden(
                        '',
                        imgNews_Section_mini,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                        +news--aside-with-hidden--last(
                        '',
                        imgNews_Section_mini,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                        // конец 1ой тройки блоков

                        .b-main__news-grid
                            - for (var x = 0; x < 4; x++)
                                +news--mini(
                                '',
                                imgNews_mini,
                                'Правила жизни Наталии Басовской',
                                '24.07.2018',
                                '15:30'
                                )

                            +news--mini-full(
                            '',
                            imgNews_mini,
                            'Пол Маккартни вновь на обложки The Beatles',
                            'Новости',
                            '24.07.2018',
                            '15:30',
                            '10'
                            )

                        .b-main__news-grid.b-main__news-grid--mobile
                            .b-main__news-grid-wrap
                                - for (var x = 0; x < 4; x++)
                                    +news--mini(
                                    '',
                                    imgNews_mini,
                                    'Правила жизни Наталии Басовской',
                                    '24.07.2018',
                                    '15:30'
                                    )
                            +news--mini-full(
                            '',
                            imgNews_mini,
                            'Пол Маккартни вновь на обложки The Beatles',
                            'Новости',
                            '24.07.2018',
                            '15:30',
                            '10'
                            )



                        // начало 2ой тройки блоков
                        +news(
                        '',
                        imgNews_1,
                        '«Кристофер Робин» Марка Форстера: гимн взрослым фобиям и детским… ',
                        'Новости',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                        // два блока для декстопа(одинаковые)
                        +news--mobile-hidden(
                        '',
                        imgNews_1,
                        '«Кристофер Робин» Марка Форстера: гимн взрослым фобиям и детским… ',
                        'Новости',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                        +news--full-mobile-with-hidden(
                        '',
                        imgNews_1,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        'Новости',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                        // два блока для мобилы(одинаковые)
                        +news--aside-with-hidden(
                        '',
                        imgNews_Section_mini,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                        +news--aside-with-hidden--last(
                        '',
                        imgNews_Section_mini,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                        // конец 2ой тройки блоков

                        include blocks/_news-slider

                        +news--full(
                        '',
                        imgNews_Section,
                        '«Кристофер Робин» Марка Форстера: гимн взрослым фобиям и детским… ',
                        'Новости',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                        +news(
                        '',
                        imgNews_Section,
                        '«Кристофер Робин» Марка Форстера: гимн взрослым фобиям и детским… ',
                        'Новости',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                        +news--full-mobile(
                        '',
                        imgNews_Section,
                        '«Кристофер Робин» Марка Форстера: гимн взрослым фобиям и детским… ',
                        'Новости',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )



                        .b-main__two-news
                            include blocks/_news-slider_v2
                            +news--full-custom(
                            '',
                            imgNews_1,
                            'Пол Маккартни вновь на обложки The Beatles',
                            'Афиша',
                            '24.07.2018',
                            '15:30',
                            '10'
                            )

                        +news(
                        '',
                        imgNews_111,
                        '«Кристофер Робин» Марка Форстера: гимн взрослым фобиям и детским… ',
                        'Новости',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                        // два блока для декстопа(одинаковые)
                        +news--mobile-hidden(
                        '',
                        imgNews_111,
                        '«Кристофер Робин» Марка Форстера: гимн взрослым фобиям и детским… ',
                        'Новости',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                        +news--full-mobile-with-hidden(
                        '',
                        imgNews_111,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                        // два блока для мобилы(одинаковые)
                        +news--aside-with-hidden(
                        '',
                        imgNews_Section_mini,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                        +news--aside-with-hidden--last(
                        '',
                        imgNews_Section_mini,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )

                    .page__bottom
                        .page__button Показать еще
                        a(href='#popup-offer-news').page__button.page__button--border.js-popup Предложить свою новость

                .page__aside.aside.aside--top.js-fixed-sroll
                    +news--aside-lg(
                    '',
                    'https://loremflickr.com/g/300/392/news',
                    'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                    'Новости',
                    '24.07.2018',
                    '15:30',
                    '10'
                    )
                    - for (var x = 0; x < 3; x++)
                        +news--aside(
                        '',
                        imgNews_aside,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )

                    +news--aside-full--custom(
                    '',
                    imgNews_mini,
                    'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                    'Новости',
                    '24.07.2018',
                    '15:30',
                    '10'
                    )
                    - for (var x = 0; x < 3; x++)
                        +news--aside(
                        '',
                        imgNews_aside,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                    +news--aside-full(
                    '',
                    imgNews_mini,
                    'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                    'Новости',
                    '24.07.2018',
                    '15:30',
                    '10'
                    )
                    - for (var x = 0; x < 2; x++)
                        +news--aside(
                        '',
                        imgNews_aside,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                    +news--aside-full(
                    '',
                    imgNews_mini,
                    'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                    'Новости',
                    '24.07.2018',
                    '15:30',
                    '10'
                    )

        // блок с мини-новости
        .b-main__block-news-mini.js-stop-aside-scroll
            .container
                h2 Другие новости из мира
                .b-main__block-news-mini-wrap
                    - for (var x = 0; x < 8; x++)
                        +news--aside(
                        '',
                        imgNews_Section_mini,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )

        #popup-offer-news.b-popup.mfp-hide
            .b-popup__wrap
                .b-popup__title Предложить новость
                form.b-popup__form.b-form
                    .b-form__item
                        input(type='text' placeholder='Название новости')
                    .b-form__item
                        textarea(placeholder='Содержимое новости')
                    .b-form__images
                    .b-form__load
                        input(id='load-offer-news' type='file' multiple accept="image/jpeg, image/png").js-load-img
                        label(for='load-offer-news') Прикрепить изображения

                    .b-form__item
                        input(type='text' placeholder='Ваше имя')
                    .b-form__item
                        input(type='email' placeholder='Ваш e-mail')
                    .b-form__submit
                        button Предложить









