extends _layout_with_black_bg
block title
    title Контакты
block content
    -var sliderFullpageUp = './images/main/slider/main-full-slider.jpg'
    -var imgVideo_1 = 'https://loremflickr.com/g/300/394/video'
    -var imgVideo_2 = 'https://loremflickr.com/g/300/300/video'
    -var imgVideo_3 = 'https://loremflickr.com/g/1000/400/video'
    -var imgNews_mini = 'https://loremflickr.com/g/300/392/news'
    -var imgNews_Section = 'https://loremflickr.com/g/302/392/news'
    -var imgNews_Section_mini = 'https://loremflickr.com/g/135/180/news'
    -var imgNews_aside = 'https://loremflickr.com/g/70/90/news'
    -var sliderFullPage_2 = 'http://eskipaper.com/images/scenic-wallpaper-38.jpg'

    .b-contacts
        .container
            .b-breadcrumbs
                a(href='').b-breadcrumbs__link Главная
                a(href='').b-breadcrumbs__link Контакты
            .b-category__header
                h1 Контакты

            .page__wrapper
                .page__content
                    .page__about
                        .b-contacts__content
                            .b-contacts__info 119435, Москва, Большой Саввинский переулок, д. 12, стр. 6, 2 этаж, Деловой Квартал «Московский шелк» Тел.:
                                a(href='tel:74952321782') + 7 (495) 232–17-82
                            .b-contacts__map
                                #map

                            .b-about__persons
                                ul
                                    li
                                        p
                                            span Пургин Юрий Петрович
                                            span генеральный директор
                                            a(href='mailto:purgin@imedia.ru') purgin@imedia.ru
                                        p
                                            span Овчинников Владимир Алексеевич
                                            span заместитель генерального директора
                                            a(href='mailto:ovchinikov@imedia.ru') ovchinikov@imedia.ru
                                        p
                                            span Шаров Сергей Александрович
                                            span финансовый директор
                                            a(href='mailto:sharov@imedia.ru') sharov@imedia.ru
                                    li
                                        p
                                            span Пургин Юрий Петрович
                                            span генеральный директор
                                            a(href='mailto:purgin@imedia.ru') purgin@imedia.ru
                                        p
                                            span Овчинников Владимир Алексеевич
                                            span заместитель генерального директора
                                            a(href='mailto:ovchinikov@imedia.ru') ovchinikov@imedia.ru
                                        p
                                            span Шаров Сергей Александрович
                                            span финансовый директор
                                            a(href='mailto:sharov@imedia.ru') sharov@imedia.ru
                                    li
                                        p
                                            span Пургин Юрий Петрович
                                            span генеральный директор
                                            a(href='mailto:purgin@imedia.ru') purgin@imedia.ru
                                        p
                                            span Овчинников Владимир Алексеевич
                                            span заместитель генерального директора
                                            a(href='mailto:ovchinikov@imedia.ru') ovchinikov@imedia.ru
                                        p
                                            span Шаров Сергей Александрович
                                            span финансовый директор
                                            a(href='mailto:sharov@imedia.ru') sharov@imedia.ru


                .page__aside.aside.aside--top.js-fixed-sroll
                    +news--aside-lg(
                    '',
                    'https://loremflickr.com/g/300/392/news',
                    'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                    'Новости',
                    '24.07.2018',
                    '15:30',
                    '10'
                    )
                    - for (var x = 0; x < 4; x++)
                        +news--aside(
                        '',
                        imgNews_aside,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )


        .js-stop-aside-scroll
