extends _layout_with_black_bg
block title
    title Экономика
block content
    -var text_5 = 'Журналист Орхан Джемаль, режиссер Александр Расторгуев и операто Кирилл Радченко были убиты в Центральноафриканской республике, когда на них напали из засады на трассе в 23 километрах от города Сибю. Об этом рассказал водитель журналистов, выживший при нападении. Его слова передал мэр Сибю Анри Депеле.'
    -var text_3 = 'Представитель президента Центральноафриканской республики сообщил, что тела погибших журналистов обнаружили военнослужащие правительственной армии.'
    -var text_3_v2 = 'Неназванный источник в местной полиции сообщил агентству Reuters, что у одного из погибших нашли пресс-карту, а также авиабилеты из Москвы в Касабланку и из Касабланки в Банги, столицу ЦАР.'
    -var text_3_v3 = 'Из засады на трассе в 10 километрах от города Сибю. Об этом рассказал водитель журналистов, выживший при нападении. Его слова передал мэр Сибю Анри Депеле.'

    -var sliderFullpageUp = './images/main/slider/main-full-slider.jpg'
    -var iconAuthor = './images/main/slider/main-full-slider.jpg'
    -var firstImg = './images/main/slider/main-full-slider.jpg'
    -var imgNews_1 = 'https://loremflickr.com/g/300/394/news'
    -var imgNews_111 = 'https://loremflickr.com/g/300/394/news'
    -var imgNews_mini = 'https://loremflickr.com/g/300/392/news'
    -var imgNews_Section = 'https://loremflickr.com/g/302/392/news'
    -var imgNews_Section_mini = 'https://loremflickr.com/g/135/180/news'
    -var imgNews_aside = 'https://loremflickr.com/g/70/90/news'
    -var sliderFullPage_2 = 'http://eskipaper.com/images/scenic-wallpaper-38.jpg'

    .b-detail
        .container
            .b-breadcrumbs
                a(href='').b-breadcrumbs__link Главная
                a(href='').b-breadcrumbs__link Экономика
            .page__wrapper
                .page__content
                    h1 Водитель погибших в ЦАР журналистов рассказал, как на них напали из засады на трассе
                    .b-detail__header
                        .b-detail__author
                            .b-detail__author-img
                                img(src=iconAuthor alt='')
                            p Махаев Никита
                            span Автор, 28 сентября, 2018 ( 20:24 )
                        .b-detail__social
                            include blocks/_social_detail

                    .b-detail__img
                        img(src=firstImg alt='')
                        span Юрий Тутов / PhotoXPress
                    .b-detail__typography
                        .b-detail__social-typography.js-fixed-sroll-2
                            include blocks/_social_detail
                        .b-detail__two-paragraphs
                            p #{text_5}
                            p #{text_3}
                        h2 Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h2
                        p #{text_3_v2}
                        p #{text_5}
                        .b-detail__news.b-detail__news--mobile
                            // два блока
                            .news-mobile
                                .news-mobile__wrap
                                    +news--aside-detail(
                                    '',
                                    'https://loremflickr.com/g/300/392/news',
                                    'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                                    '24.07.2018',
                                    '15:30'
                                    )
                                    +news--aside-detail(
                                    '',
                                    'https://loremflickr.com/g/300/392/news',
                                    'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                                    '24.07.2018',
                                    '15:30'
                                    )

                        p #{text_5}
                        .b-detail__img
                            img(src=firstImg alt='')
                            span Юрий Тутов / PhotoXPress
                        p #{text_5}
                        .b-detail__news.b-detail__news--single
                            // один длинный
                            +news--aside-detail(
                            '',
                            'https://loremflickr.com/g/300/392/news',
                            'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                            '24.07.2018',
                            '15:30'
                            )
                        h3 Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3

                        blockquote «Журналист Орхан Джемаль, режиссер Александр Расторгуев и оператор Кирилл Радченко были убиты в Центральноафриканской республике, когда на них напали из засады на трассе в 23 километрах от города Сибю. Об этом рассказал водитель журналистов, выживший при нападении. Его слова передал мэр Сибю Анри Депеле.»
                        p #{text_5}
                        .b-detail__video
                            img(src=firstImg alt='')
                            .b-detail__video-content
                                a(href='http://www.youtube.com/watch?v=0O2aH4XLbto').icon-play.popup-youtube
                                a(href='').link Журналист Орхан Джемаль, режиссер Александр Расторгуев и оператор Кирилл Радченко были убиты…
                        ul
                            li В июле в Алтайском крае снизились цены на ряд продовольственных товаров, сообщает официальный сайт правительства региона.
                            li В частности, отмечается снижение цен на питьевое пастеризованное молоко, пчелиный натуральный мед, фруктовые соки, мясные консервы для детского питания.
                            li Также подешевела охлажденная и мороженая рыба.

                        p #{text_5}

                        ol
                            li В июле в Алтайском крае снизились цены на ряд продовольственных товаров, сообщает официальный сайт правительства региона.
                            li В частности, отмечается снижение цен на питьевое пастеризованное молоко, пчелиный натуральный мед, фруктовые соки, мясные консервы для детского питания.
                            li Также подешевела охлажденная и мороженая рыба.

                        .b-detail__chapter
                            span 1
                            p #{text_5}
                            p #{text_3_v3}

                        .b-detail__chapter
                            span 2
                            p #{text_5}

                        p Журналист Орхан Джемаль, режиссер Александр Расторгуев и операто Кирилл Радченко были убиты в Центральноафриканской республике, когда на них напали из засады на трассе в 
                            strong 23 километрах
                            | от города Сибю. Об этом рассказал водитель журналистов, выживший при нападении. Его слова передал мэр Сибю Анри Депеле.'

                        .b-detail__slider.js-slider-typography
                            img(src=sliderFullpageUp alt='')
                            img(src=sliderFullpageUp alt='')
                            img(src=sliderFullpageUp alt='')

                        p #{text_5}

                        .b-detail__timeline
                            .timeline-news
                                .timeline-news__dot
                                    span 1993 год
                                .timeline-news__progress
                                    span
                                p Долгое время учёные не воспринимали идею телепортации серьёзно. Считалось, что она нарушает принцип неопределённости, запрещающий любому измерительному или сканирующему процессу извлекать информацию из атома или другого объекта.
                            .timeline-news
                                .timeline-news__dot
                                    span 1997 год
                                .timeline-news__progress
                                    span
                                p Чем дольше сканируется объект, тем больше на него влияет процесс сканирования. Оно продолжается до тех пор, пока исходное состояние объекта не нарушится так, что нельзя получить достаточное количество информации для создания точной копии. А так как нельзя извлечь все свойства для создания идеальной копии, то сделать её невозможно.

                            .timeline-news
                                .timeline-news__dot
                                    span 2000 год
                                .timeline-news__progress
                                    span
                                p Долгое время учёные не воспринимали идею телепортации серьёзно. Считалось, что она нарушает принцип неопределённости, запрещающий любому измерительному или сканирующему процессу извлекать информацию из атома или другого объекта. Чем дольше сканируется объект, тем больше на него влияет процесс сканирования. Оно продолжается до тех пор, пока исходное состояние объекта не нарушится так, что нельзя получить достаточное количество информации для создания точной копии. А так как нельзя извлечь все свойства для создания идеальной копии, то сделать её невозможно.

                        .b-detail__poll
                            .b-poll
                                .b-poll__card
                                    .b-poll__card-title Сбылись ли ваши планы на жизнь, которые вы делали по окончании школы?
                                    .b-poll__content.b-poll__content--complete
                                        .b-poll__item
                                            h4 Да, практически всё сбылось
                                            .b-poll__progress
                                                .progress-bar(style="width: 12%")
                                                span 33
                                            .b-poll__persent 12%

                                        .b-poll__item
                                            h4 Частично мечты и планы сбылись
                                            .b-poll__progress
                                                .progress-bar(style="width: 21%")
                                                span 60
                                            .b-poll__persent 21%

                                        .b-poll__item
                                            h4 Нет, все пошло совсем по-другому
                                            .b-poll__progress
                                                .progress-bar(style="width: 44%")
                                                span 124
                                            .b-poll__persent 44%

                                        .b-poll__item
                                            h4 Работаю над этим, у меня ещё всё впереди
                                            .b-poll__progress
                                                .progress-bar(style="width: 6%")
                                                span 17
                                            .b-poll__persent 6%

                                        .b-poll__item
                                            h4 Вообще не было никаких планов
                                            .b-poll__progress
                                                .progress-bar(style="width: 17%")
                                                span 48
                                            .b-poll__persent 17%
                                    .b-poll__total Всего проголосовало:
                                        b  282
                                        |  человека

                        .b-detail__poll
                            .b-poll
                                .b-poll__card
                                    .b-poll__card-title Сбылись ли ваши планы на жизнь, которые вы делали по окончании школы?
                                    .b-poll__content
                                        .b-poll__item
                                            h4 Да
                                            .b-poll__progress.js-poll
                                                .progress-bar(style="width: 0%")
                                                span
                                            .b-poll__persent

                                        .b-poll__item
                                            h4 Нет
                                            .b-poll__progress.js-poll
                                                .progress-bar(style="width: 0%")
                                                span
                                            .b-poll__persent


                                    .b-poll__total Всего проголосовало:
                                        b  93
                                        |  человека


                        .b-detail__information
                            p Мы ждем от вас сообщений, фото и видео, связанные с городскими событиями и происшествиями, — присылайте их в нашу группу «Бийск – мой город» в социальных сетях
                                a(href='') Инстаграм
                                |  ,
                                a(href='') ВКонтакте
                                |  и
                                a(href='') Одноклассники
                                |  (ссылки кликабельны, подписывайтесь!), а также на группу
                                a(href='') «Бийский рабочий» в Facebook.
                                | Присылайте ваши фото и новости на почту газеты «Бийского рабочего»
                                a(href='mailto:redaktor@biwork.ru') redaktor@biwork.ru.
                                | Не забывайте указывать свой контактный телефон.

                        p Об этом рассказал водитель журналистов, выживший при нападении. Его слова передал мэр Сибю Анри Депеле.

                        .b-detail__hash-tag
                            .hash-tag
                                a(href='').hash-tag__item
                                    span #
                                    | Общество
                                a(href='').hash-tag__item
                                    span #
                                    | История
                                a(href='').hash-tag__item
                                    span #
                                    | Архитектура
                                a(href='').hash-tag__item.hidden
                                    span #
                                    | Общество
                                a(href='').hash-tag__item.hidden
                                    span #
                                    | История
                                a(href='').hash-tag__item.hidden
                                    span #
                                    | Архитектура
                                a(href='').hash-tag__item.hidden
                                    span #
                                    | Общество
                                a(href='').hash-tag__item.hidden
                                    span #
                                    | История

                                .hash-tag__more.js-show-hash-tag

                    .b-detail__alarm ВНИМАНИЕ! Имеются противопоказания необходимо проконсультироваться у специалиста

                    .b-detail__footer.js-stop-aside-scroll-2
                        .b-detail__header
                            .b-detail__author
                                .b-detail__author-img
                                    img(src=iconAuthor alt='')
                                p Махаев Никита
                                span Автор, 28 сентября, 2018 ( 20:24 )
                            .b-detail__social
                                include blocks/_social_detail


                    .b-comments
                        .b-comments__wrap
                            .b-comments__count 5 комментариев
                            form.b-comments__form.b-form.js-uploadForm
                                p.b-form__item.b-form__item--user
                                    +img(iconAuthor)
                                    textarea(name='comment' placeholder='Написать комментарий')
                                    span.b-form__count-symb.js-limit
                                        span 1000
                                .b-form__images
                                .b-form__submit
                                    label.b-form__load
                                        input(type='file' value='imgLoad' multiple accept="image/jpeg, image/png").js-load-img
                                    button(type='submit') Отправить

                            .b-comments__list
                                .comment-item
                                    .comment-item__wrap
                                        +img(iconAuthor)
                                        .comment-item__user
                                            .comment-item__user-header
                                                .comment-item__user-name Михаил
                                                time 04 мая, 2018 в 16:24
                                            .comment-item__user-text
                                                p У ЕР не было, нет и не будет поддержки масс. Многие из этих классовых персонажей- ЕР политиков, Путина В.В. не слышат, но шанс просветлеть есть у каждого, в каждом человеке заложено зерно Духовности развивать его или нет- это выбор и право каждого.
                                            .comment-item__footer
                                                .comment-item__like
                                                    .like.js-like
                                                        .like__btn.like__btn--up
                                                        .like__count(data-count='0') 0
                                                        .like__btn.like__btn--down
                                                .comment-item__reply.js-login Ответить

                                .comment-item
                                    .comment-item__wrap
                                        +img(iconAuthor)
                                        .comment-item__user
                                            .comment-item__user-header
                                                .comment-item__user-name Антон
                                                time 04 мая, 2018 в 16:24
                                            .comment-item__user-text
                                                p У ЕР не было, нет и не будет поддержки масс. Многие из этих классовых персонажей- ЕР политиков, Путина В.В. не слышат, но шанс просветлеть есть у каждого, в каждом человеке заложено зерно Духовности развивать его или нет- это выбор и право каждого.
                                            .comment-item__footer
                                                .comment-item__like
                                                    .like.js-like
                                                        .like__btn.like__btn--up
                                                        .like__count(data-count='0') 0
                                                        .like__btn.like__btn--down
                                                .comment-item__reply.js-login Ответить
                                    form.comment-item__form.b-form.js-uploadForm
                                        p.b-form__item.b-form__item--user
                                            +img(iconAuthor)
                                            textarea(name='comment' placeholder='Ответить на комментарий')
                                        .b-form__images
                                        .b-form__submit
                                            label.b-form__load
                                                input(type='file' value='imgLoad' multiple accept="image/jpeg, image/png").js-load-img
                                            button(type='submit').js-login Отправить
                                    .comment-item__answer-list
                                        .answer-item
                                            +img(iconAuthor)
                                            .answer-item__user
                                                .answer-item__header
                                                    .answer-item__user-name Никита
                                                    .answer-item__user-responded ответил Антону
                                                    time 04 мая, 2018 в 16:24
                                                .answer-item__text У ЕР не было, нет и не будет поддержки масс. Многие из этих классовых персонажей- ЕР политиков, Путина В.В. не слышат, но шанс просветлеть есть у каждого, в каждом человеке заложено зерно Духовности развивать его или нет- это выбор и право каждого.
                                                .answer-item__like
                                                    .like.js-like
                                                        .like__btn.like__btn--up
                                                        .like__count(data-count='0') 0
                                                        .like__btn.like__btn--down
                                        .answer-item
                                            +img(iconAuthor)
                                            .answer-item__user
                                                .answer-item__header
                                                    .answer-item__user-name Аноним
                                                    .answer-item__user-responded ответил Антону
                                                    time 04 мая, 2018 в 16:24
                                                .answer-item__text Дорогостоящее мероприятие. Время и средства можно использовать на полезное дело.
                                                .answer-item__like
                                                    .like.js-like
                                                        .like__btn.like__btn--up
                                                        .like__count(data-count='0') 0
                                                        .like__btn.like__btn--down
                                .comment-item
                                    .comment-item__wrap
                                        +img(iconAuthor)
                                        .comment-item__user
                                            .comment-item__user-header
                                                .comment-item__user-name Михаил
                                                time 04 мая, 2018 в 16:24
                                            .comment-item__user-text
                                                p У ЕР не было, нет и не будет поддержки масс. Многие из этих классовых персонажей- ЕР политиков, Путина В.В. не слышат, но шанс просветлеть есть у каждого, в каждом человеке заложено зерно Духовности развивать его или нет- это выбор и право каждого.
                                            .comment-item__footer
                                                .comment-item__like
                                                    .like.js-like
                                                        .like__btn.like__btn--up
                                                        .like__count(data-count='0') 0
                                                        .like__btn.like__btn--down
                                                .comment-item__reply.js-login Ответить



                .page__aside.aside.aside--detail.js-fixed-sroll
                    +news--aside-lg(
                    '',
                    'https://loremflickr.com/g/300/392/news',
                    'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                    'Новости',
                    '24.07.2018',
                    '15:30',
                    '10'
                    )
                    - for (var x = 0; x < 3; x++)
                        +news--aside(
                        '',
                        imgNews_aside,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )

                    +news--aside-full--custom(
                    '',
                    imgNews_mini,
                    'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                    'Новости',
                    '24.07.2018',
                    '15:30',
                    '10'
                    )
                    - for (var x = 0; x < 5; x++)
                    +news--aside(
                    '',
                    imgNews_aside,
                    'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                    '24.07.2018',
                    '15:30',
                    '10'
                    )
                    +news--aside-full(
                    '',
                    imgNews_mini,
                    'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                    'Новости',
                    '24.07.2018',
                    '15:30',
                    '10'
                    )
                    - for (var x = 0; x < 3; x++)
                    +news--aside(
                    '',
                    imgNews_aside,
                    'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                    '24.07.2018',
                    '15:30',
                    '10'
                    )
                    +news--aside-full(
                    '',
                    imgNews_mini,
                    'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                    'Новости',
                    '24.07.2018',
                    '15:30',
                    '10'
                    )



            .b-main__block-news-mini.js-stop-aside-scroll
                h2 Другие новости из мира
                .b-main__block-news-mini-wrap
                    - for (var x = 0; x < 8; x++)
                        +news--aside(
                        '',
                        imgNews_Section_mini,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )

            include ajax/login
