extends _layout
block title
    title Главная страница
block content
    -var sliderFullpageUp = './images/main/slider/main-full-slider.jpg'
    -var imgNews_1 = 'https://loremflickr.com/g/300/394/news'
    -var imgNews_111 = 'https://loremflickr.com/g/300/394/news'
    -var imgNews_mini = 'https://loremflickr.com/g/300/392/news'
    -var imgNews_Section = 'https://loremflickr.com/g/302/392/news'
    -var imgNews_Section_mini = 'https://loremflickr.com/g/135/180/news'
    -var imgNews_aside = 'https://loremflickr.com/g/70/90/news'
    -var sliderFullPage_2 = 'http://eskipaper.com/images/scenic-wallpaper-38.jpg'

    .b-main
        // слайдре на весь экран
        .b-main-fullpage.b-main-fullpage--0
            .b-fullpage-slider.js-fullpage-slider
                .b-fullpage-slider__item
                    a(href='').news__img
                        img(src=sliderFullpageUp alt='')
                    .container
                        .news__content
                            h3
                                a(href='') Лучшие фотографии 2018 года, сделанные на iPhone
                            .news__info
                                a(href='').news__label.label Искуство
                                span
                                a(href='')
                                    time 24.07.2018
                                        span 15:30
                                a(href='').news__comments.comments 10
                .b-fullpage-slider__item
                    a(href='').news__img
                        img(src=sliderFullpageUp alt='')
                    .container
                        .news__content
                            h3
                                a(href='') Фото: Кремль в крови на промо последнего сезона «Карточного домика»
                            .news__info
                                a(href='').news__label.label Искуство
                                span
                                a(href='')
                                    time 24.07.2018
                                        span 15:30
                                a(href='').news__comments.comments 10

            .b-fullpage-slider__arrow.b-arrow-slider
                .b-arrow-slider__item.b-arrow-slider__item--prev.js-arrow-prev
                .b-arrow-slider__item.b-arrow-slider__item--next.js-arrow-next
            .aside.aside--fullpage
                +news--aside-lg(
                '',
                'https://loremflickr.com/g/300/392/news',
                'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                'Новости',
                '24.07.2018',
                '15:30',
                '10'
                )
                - for (var x = 0; x < 2; x++)
                    +news--aside(
                    '',
                    'https://loremflickr.com/g/300/392/news',
                    'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                    '24.07.2018',
                    '15:30',
                    '10'
                    )



        // нидняя часть после слайдера
        .b-main__news-feed
            .container
                .page__wrapper
                    .page__content
                        .page__news
                            .news
                                a(href='').news__img
                                    .news__icon
                                        .news__icon-item.news__icon-item--media
                                    img(src=imgNews_1 alt='')
                                .news__content
                                    h3
                                        a(href='') «Кристофер Робин» Марка Форстера: гимн взрослым фобиям и детским…
                                    .news__info
                                        a(href='').news__label.label Новости
                                        span
                                        a(href='')
                                            time 24.07.2018
                                                span 15:30
                                        a(href='').news__comments.comments 10
                            // два блока для декстопа(одинаковые)
                            .news.news--mobile-hidden
                                a(href='').news__img
                                    .news__icon
                                        .news__icon-item.news__icon-item--media
                                        .news__icon-item.news__icon-item--video
                                        .news__icon-item.news__icon-item--poll
                                    img(src=imgNews_1 alt='')
                                .news__content
                                    h3
                                        a(href='') «Кристофер Робин» Марка Форстера: гимн взрослым фобиям и детским…
                                    .news__info
                                        a(href='').news__label.label Новости
                                        span
                                        a(href='')
                                            time 24.07.2018
                                                span 15:30
                                        a(href='').news__comments.comments 10

                            +news--full-mobile-with-hidden(
                            '',
                            imgNews_1,
                            'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                            'Новости',
                            '24.07.2018',
                            '15:30',
                            '10'
                            )
                            // два блока для мобилы(одинаковые)
                            +news--aside-with-hidden(
                            '',
                            imgNews_Section_mini,
                            'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                            '24.07.2018',
                            '15:30',
                            '10'
                            )
                            +news--aside-with-hidden--last(
                            '',
                            imgNews_Section_mini,
                            'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                            '24.07.2018',
                            '15:30',
                            '10'
                            )

                            .b-main__news-grid
                                - for (var x = 0; x < 4; x++)
                                    +news--mini(
                                    '',
                                    imgNews_mini,
                                    'Правила жизни Наталии Басовской',
                                    '24.07.2018',
                                    '15:30'
                                    )

                                +news--mini-full(
                                '',
                                imgNews_mini,
                                'Пол Маккартни вновь на обложки The Beatles',
                                'Новости',
                                '24.07.2018',
                                '15:30',
                                '10'
                                )

                            .b-main__news-grid.b-main__news-grid--mobile
                                .b-main__news-grid-wrap
                                    - for (var x = 0; x < 4; x++)
                                        +news--mini(
                                        '',
                                        imgNews_mini,
                                        'Правила жизни Наталии Басовской',
                                        '24.07.2018',
                                        '15:30'
                                        )
                                +news--mini-full(
                                '',
                                imgNews_mini,
                                'Пол Маккартни вновь на обложки The Beatles',
                                'Новости',
                                '24.07.2018',
                                '15:30',
                                '10'
                                )


                            include blocks/_news-slider

                            .b-main__section
                                .section
                                    .section__top
                                        h2 Общество
                                        .section__filter
                                            .filter
                                                .filter__link.filter__link--active Сегодня
                                                .filter__link Вчера
                                                .filter__link На этой недели

                                        .section__arrow.section__arrow--mobile--hidden.b-arrow-slider
                                            .b-arrow-slider__item.b-arrow-slider__item--prev.js-arrow-prev
                                            span
                                            .b-arrow-slider__item.b-arrow-slider__item--next.js-arrow-next
                                        .section__arrow.section__arrow--mobile.b-arrow-slider
                                            .b-arrow-slider__item.b-arrow-slider__item--prev.js-arrow-prev
                                            span
                                            .b-arrow-slider__item.b-arrow-slider__item--next.js-arrow-next
                                    // .section__slider--mobile-hidden
                                    .section__slider.js-section-slider
                                        +news--full(
                                        '',
                                        imgNews_Section,
                                        '«Кристофер Робин» Марка Форстера: гимн взрослым фобиям и детским… ',
                                        'Новости',
                                        '24.07.2018',
                                        '15:30',
                                        '10'
                                        )
                                        - for (var x = 0; x < 3; x++)
                                            +news(
                                            '',
                                            imgNews_Section,
                                            '«Кристофер Робин» Марка Форстера: гимн взрослым фобиям и детским… ',
                                            'Новости',
                                            '24.07.2018',
                                            '15:30',
                                            '10'
                                            )
                                    // слайдер для мобильной версии
                                    //.section__slider.js-section-slider-mobile.section__slider--desktop-hidden
                                    //    .section__slider-item
                                    //        - for (var x = 0; x < 3; x++)
                                    //            +news--aside-with-hidden(
                                    //            '',
                                    //            imgNews_Section_mini,
                                    //            'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                                    //            '24.07.2018',
                                    //            '15:30',
                                    //            '10'
                                    //            )
                                    //
                                    //    .section__slider-item
                                    //        - for (var x = 0; x < 2; x++)
                                    //            +news--aside-with-hidden(
                                    //            '',
                                    //            imgNews_Section_mini,
                                    //            'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                                    //            '24.07.2018',
                                    //            '15:30',
                                    //            '10'
                                    //            )

                            .b-main__section
                                .section
                                    .section__top
                                        h2 Афиша
                                        .section__filter
                                            .filter
                                                .filter__link.filter__link--active Сегодня в кино
                                                .filter__link Скоро

                                        .section__arrow.section__arrow--mini.b-arrow-slider
                                            .b-arrow-slider__item.b-arrow-slider__item--prev.js-arrow-prev
                                            span
                                            .b-arrow-slider__item.b-arrow-slider__item--next.js-arrow-next
                                    .section__slider.section__slider--mini.js-section-slider--mini
                                        - for (var x = 0; x < 8; x++)
                                            +news--mini(
                                            '',
                                            imgNews_Section_mini,
                                            'Правила жизни Наталии Басовской',
                                            '24.07.2018',
                                            '15:30'
                                            )

                            .b-main__two-news
                                include blocks/_news-slider_v2
                                +news--full-custom(
                                '',
                                imgNews_1,
                                'Пол Маккартни вновь на обложки The Beatles',
                                'Афиша',
                                '24.07.2018',
                                '15:30',
                                '10'
                                )

                            +news(
                            '',
                            imgNews_111,
                            '«Кристофер Робин» Марка Форстера: гимн взрослым фобиям и детским… ',
                            'Новости',
                            '24.07.2018',
                            '15:30',
                            '10'
                            )
                            // два блока для декстопа(одинаковые)
                            +news--mobile-hidden(
                            '',
                            imgNews_111,
                            '«Кристофер Робин» Марка Форстера: гимн взрослым фобиям и детским… ',
                            'Новости',
                            '24.07.2018',
                            '15:30',
                            '10'
                            )
                            +news--full-mobile-with-hidden(
                            '',
                            imgNews_111,
                            'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                            '24.07.2018',
                            '15:30',
                            '10'
                            )
                            // два блока для мобилы(одинаковые)
                            +news--aside-with-hidden(
                            '',
                            imgNews_Section_mini,
                            'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                            '24.07.2018',
                            '15:30',
                            '10'
                            )
                            +news--aside-with-hidden--last(
                            '',
                            imgNews_Section_mini,
                            'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                            '24.07.2018',
                            '15:30',
                            '10'
                            )


                    .page__aside.aside.js-fixed-sroll
                        - for (var x = 0; x < 3; x++)
                            +news--aside(
                            '',
                            imgNews_aside,
                            'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                            '24.07.2018',
                            '15:30',
                            '10'
                            )

                        +news--aside-full--custom(
                        '',
                        imgNews_mini,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        'Новости',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                        - for (var x = 0; x < 5; x++)
                            +news--aside(
                            '',
                            imgNews_aside,
                            'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                            '24.07.2018',
                            '15:30',
                            '10'
                            )
                        +news--aside-full(
                        '',
                        imgNews_mini,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        'Новости',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                        - for (var x = 0; x < 3; x++)
                            +news--aside(
                            '',
                            imgNews_aside,
                            'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                            '24.07.2018',
                            '15:30',
                            '10'
                            )
                        +news--aside-full(
                        '',
                        imgNews_mini,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        'Новости',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )



        // секции с слайдерами
        .b-main__section.b-main__section--fullpage
            .container
                .section
                    .section__top
                        h2 Политика
                        .section__filter
                            .filter
                                .filter__link.filter__link--active Популярное
                                .filter__link Места
                                .filter__link Животные

            .b-main-fullpage.b-main-fullpage--content.b-main-fullpage--1.js-stop-aside-scroll
                .b-fullpage-slider.js-fullpage-slider
                    .b-fullpage-slider__item
                        a(href='').news__img
                            img(src=sliderFullpageUp alt='')
                        .container
                            .news__content
                                h3
                                    a(href='') Лучшие фотографии 2018 года, сделанные на iPhone
                                .news__info
                                    a(href='').news__label.label Искуство
                                    span
                                    a(href='')
                                        time 24.07.2018
                                            span 15:30
                                    a(href='').news__comments.comments 10
                    .b-fullpage-slider__item
                        a(href='').news__img
                            img(src=sliderFullpageUp alt='')
                        .container
                            .news__content
                                h3
                                    a(href='') Лучшие фотографии 2018 года, сделанные на iPhone
                                .news__info
                                    a(href='').news__label.label Искуство
                                    span
                                    a(href='')
                                        time 24.07.2018
                                            span 15:30
                                    a(href='').news__comments.comments 10

                .b-fullpage-slider__arrow.b-arrow-slider
                    .b-arrow-slider__item.b-arrow-slider__item--prev.js-arrow-prev
                    .b-arrow-slider__item.b-arrow-slider__item--next.js-arrow-next
                .aside.aside--fullpage
                    - for (var x = 0; x < 4; x++)
                        +news--aside(
                        '',
                        'https://loremflickr.com/g/300/392/news',
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )

        // блок с мини-новости
        .b-main__block-news-mini
            .container
                .b-main__block-news-mini-wrap
                    - for (var x = 0; x < 8; x++)
                        +news--aside(
                        '',
                        imgNews_Section_mini,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )







