doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        link(rel='stylesheet' href="/styles/guideline.css")
        title Гайдлайн проекта
    body
        // Сверстанные страницы
        -var links = []

        -links.push({'url': 'home', 'name': 'Главная'});
        -links.push({'url': 'home_auth', 'name': 'Главная c юзером'});
        -links.push({'url': 'home_alert', 'name': 'Главная c уведомлением'});
        -links.push({'url': 'category', 'name': 'Странциа раздела'});
        -links.push({'url': 'detail', 'name': 'Детальная страница'});
        -links.push({'url': 'poster', 'name': 'Афиша'});
        -links.push({'url': 'search', 'name': 'Поиск'});
        -links.push({'url': 'video', 'name': 'Видео репортажи'});
        -links.push({'url': 'about', 'name': 'О проекте'});
        -links.push({'url': 'contacts', 'name': 'Контакты'});
        -links.push({'url': 'advertising', 'name': 'Реклама'});
        -links.push({'url': 'lc', 'name': 'Личный кабинет'});
        -links.push({'url': '404', 'name': '404 Ошибка'});


        h2 Список свёрстанных страниц
        ol
            each link in links
                li

                    a(href!=link.url+'.html')=link.name

        h2 Письма
        ol
            li
                a(href='email/email__confirm.html') Подтвердите подписку на рассылку
            li
                a(href='email/email__news.html') Еженедельная рассылка
            li
                a(href='email/email__sub.html') Спасибо за вашу подписку!
