extends _layout_with_black_bg
block title
    title Личный кабинет
block content
    -var sliderFullpageUp = './images/main/slider/main-full-slider.jpg'
    -var icon = 'https://loremflickr.com/g/100/100/people'
    -var imgVideo_2 = 'https://loremflickr.com/g/300/300/video'
    -var imgVideo_3 = 'https://loremflickr.com/g/1000/400/video'
    -var imgNews_mini = 'https://loremflickr.com/g/300/392/news'
    -var imgNews_Section = 'https://loremflickr.com/g/302/392/news'
    -var imgNews_Section_mini = 'https://loremflickr.com/g/135/180/news'
    -var imgNews_aside = 'https://loremflickr.com/g/70/90/news'
    -var sliderFullPage_2 = 'http://eskipaper.com/images/scenic-wallpaper-38.jpg'

    .b-lc
        .container
            .b-breadcrumbs
                a(href='').b-breadcrumbs__link Главная
                a(href='').b-breadcrumbs__link Личный кабинет
            .b-category__header
                h1 Личный кабинет

            .page__wrapper
                .page__content
                    .b-lc__wrap
                        .b-lc__tabs
                            .b-lc__tabs-wrap.js-tab
                                .b-lc__tabs-item.active Мои данные
                                .b-lc__tabs-item Избранные новости
                                .b-lc__tabs-item Подписка
                        .b-lc__container.js-tab-content
                            .b-lc__content.active
                                .b-lc__data
                                    form.b-lc__form.b-form
                                        h3 Основные данные
                                        .b-form__item
                                            input(type='text')
                                            label Ваше имя

                                        .b-form__item
                                            input(type='text')
                                            label Ваша фамилия

                                        .b-form__item
                                            input(type='email')
                                            label Ваш E-mail

                                        .b-form__item
                                            input(type='text')
                                            label Город

                                        .b-form__load-icon
                                            img(src=icon alt='')#avatarPreview
                                            .b-form__load-icon-wrap
                                                label(for='avatarUpload') Загрузить новый аватар
                                                input(id='avatarUpload' type='file' accept="image/jpeg, image/png")
                                                span Изображение в формате: png, jpg
                                        .b-form__submit
                                            button(type='submit') Сохранить

                                    form.b-lc__form.b-form
                                        h3 Смена пароля
                                        .b-form__item
                                            input(type='password')
                                            label Старый пароль

                                        .b-form__item
                                            input(type='password')
                                            label Новый пароль

                                        .b-form__item
                                            input(type='password')
                                            label Повторите новый пароль

                                        .b-form__submit
                                            button(type='submit') Поменять пароль





                            .b-lc__content
                                .b-lc__news
                                    +news--aside-favorite-dis(
                                    '',
                                    imgNews_Section_mini,
                                    'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                                    '24.07.2018',
                                    '15:30',
                                    '10'
                                    )
                                    - for (var x = 0; x < 10; x++)
                                        +news--aside-favorite(
                                        '',
                                        imgNews_Section_mini,
                                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                                        '24.07.2018',
                                        '15:30',
                                        '10'
                                        )

                            .b-lc__content
                                .b-lc__sub
                                    form.b-lc__sub-form.b-form
                                        h4 Подпишись на рассылку портала «ТОЛК» и получай первым, самые свежие новости.
                                        .b-form__wrap
                                            .b-form__checkbox
                                                input(id='sub1' type='checkbox')
                                                label(for='sub1') Политика
                                            .b-form__checkbox
                                                input(id='sub2' type='checkbox')
                                                label(for='sub2') Экономика
                                            .b-form__checkbox
                                                input(id='sub3' type='checkbox')
                                                label(for='sub3') Культура
                                            .b-form__checkbox
                                                input(id='sub4' type='checkbox')
                                                label(for='sub4') Спорт
                                            .b-form__checkbox
                                                input(id='sub5' type='checkbox')
                                                label(for='sub5') Афиша
                                            .b-form__checkbox
                                                input(id='sub6' type='checkbox')
                                                label(for='sub6') Искуство
                                            .b-form__checkbox
                                                input(id='sub7' type='checkbox')
                                                label(for='sub7') Путешествия
                                            .b-form__checkbox
                                                input(id='sub8' type='checkbox')
                                                label(for='sub8') Бизнес
                                            .b-form__checkbox
                                                input(id='sub9' type='checkbox')
                                                label(for='sub9') Наука
                                            .b-form__checkbox
                                                input(id='sub10' type='checkbox')
                                                label(for='sub10') Экология
                                            .b-form__checkbox
                                                input(id='sub11' type='checkbox')
                                                label(for='sub11') Техника
                                            .b-form__checkbox
                                                input(id='sub12' type='checkbox')
                                                label(for='sub12') Природа
                                            .b-form__checkbox
                                                input(id='sub13' type='checkbox')
                                                label(for='sub13') Происшествия
                                        .b-form__submit
                                            button Сохранить
                                        .b-form__info Если вы хотите полностью отписаться от рассылки уведомлений с портала «ТОЛК», воспользуйтесь этой
                                            a(href='')  ссылкой



                .page__aside.aside.aside--top.js-fixed-sroll
                    +news--aside-lg(
                    '',
                    'https://loremflickr.com/g/300/392/news',
                    'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                    'Новости',
                    '24.07.2018',
                    '15:30',
                    '10'
                    )
                    - for (var x = 0; x < 6; x++)
                    +news--aside(
                    '',
                    imgNews_aside,
                    'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                    '24.07.2018',
                    '15:30',
                    '10'
                    )


        .js-stop-aside-scroll
