extends _layout_without_aside
block title
    title Афиша
block content
    -var sliderFullpageUp = './images/main/slider/main-full-slider.jpg'
    -var poster = './images/poster/jumanj.jpg'
    -var imgNews_1 = 'https://loremflickr.com/g/300/394/news'
    -var poster1 = 'https://loremflickr.com/g/300/394/news'
    -var poster_1 = 'https://loremflickr.com/g/1290/520/news'
    -var imgNews_111 = 'https://loremflickr.com/g/300/394/news'
    -var imgNews_mini = 'https://loremflickr.com/g/300/392/news'
    -var imgNews_Section = 'https://loremflickr.com/g/302/392/news'
    -var imgNews_Section_mini = 'https://loremflickr.com/g/135/180/news'
    -var imgNews_aside = 'https://loremflickr.com/g/70/90/news'
    -var sliderFullPage_2 = 'http://eskipaper.com/images/scenic-wallpaper-38.jpg'

    .b-poster
        .container
            .b-breadcrumbs
                a(href='').b-breadcrumbs__link Главная
                a(href='').b-breadcrumbs__link Афиша
            .b-category__header
                h1 Афиша
                .b-category__filter
                    .filter
                        .filter__link.filter__link--active Сегодня
                        .filter__link Популярное
                        .filter__link Обсуждаемое

            .page__wrapper
                .page__content
                    .page__news
                        .b-poster__video
                            .b-poster__video-play
                            .b-poster__video-img
                                img(src=poster alt='')
                                iframe#ytplayer(width="560" height="315" src="https://www.youtube.com/embed/UzWPF4MyqbQ?autohide=1&showinfo=0&rel=0&enablejsapi=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
                            .b-poster__video-content
                                .b-poster__video-title Джуманджи: Зов джунглей

                                .b-poster__video-info
                                    a(href='').b-poster__video-label.label КИНО
                                    span
                                    a(href='')
                                        time 24.07.2018
                                            span 15:30
                                    .b-poster__video-comments.comments 10

                        .b-main__section.b-main__section--poster
                            .section
                                .section__top
                                    .section__filter
                                        .filter
                                            a(href='').filter__link.filter__link--active.js-sss Сегодня в кино
                                            a(href='').filter__link Скоро на экранах
                                            .filter__dropdown
                                                a(href='').filter__link Скоро на экранах

                                    .section__arrow.section__arrow--mini.b-arrow-slider
                                        .b-arrow-slider__item.b-arrow-slider__item--prev.js-arrow-prev
                                        span
                                        .b-arrow-slider__item.b-arrow-slider__item--next.js-arrow-next
                                .section__slider.section__slider--mini.js-section-slider--mini
                                    - for (var x = 0; x < 2; x++)
                                        +news--mini(
                                        '',
                                        imgNews_Section_mini,
                                        'Миссия невыполнима: Последствия',
                                        '24.07.2018',
                                        '15:30'
                                        )
                                    - for (var x = 0; x < 2; x++)
                                        +news--mini(
                                        '',
                                        imgNews_Section_mini,
                                        'Во власти стихии',
                                        '24.07.2018',
                                        '15:30'
                                        )
                                    - for (var x = 0; x < 2; x++)
                                        +news--mini(
                                        '',
                                        imgNews_Section_mini,
                                        'Миссия невыполнима: Последствия',
                                        '24.07.2018',
                                        '15:30'
                                        )
                                    - for (var x = 0; x < 2; x++)
                                        +news--mini(
                                        '',
                                        imgNews_Section_mini,
                                        'Во власти стихии',
                                        '24.07.2018',
                                        '15:30'
                                        )

                        .b-main__title
                            h2 Новости киноиндустрии
                        .b-main__three-news
                            include blocks/_news-slider_v2
                            +news--full-custom(
                            '',
                            imgNews_1,
                            'Пол Маккартни вновь на обложки The Beatles',
                            'Афиша',
                            '24.07.2018',
                            '15:30',
                            '10'
                            )
                            +news--full-customv2(
                            '',
                            imgNews_1,
                            'Пол Маккартни вновь на обложки The Beatles',
                            'Афиша',
                            '24.07.2018',
                            '15:30',
                            '10'
                            )

                        .b-main__title
                            h2 Искуство
                        .b-main__gallery-news
                            +news(
                            '',
                            imgNews_111,
                            '«Кристофер Робин» Марка Форстера: гимн взрослым фобиям и детским… ',
                            'Новости',
                            '24.07.2018',
                            '15:30',
                            '10'
                            )
                            +news(
                            '',
                            imgNews_111,
                            '«Кристофер Робин» Марка Форстера: гимн взрослым фобиям и детским… ',
                            'Новости',
                            '24.07.2018',
                            '15:30',
                            '10'
                            )
                            +news(
                            '',
                            imgNews_111,
                            '«Кристофер Робин» Марка Форстера: гимн взрослым фобиям и детским… ',
                            'Новости',
                            '24.07.2018',
                            '15:30',
                            '10'
                            )
                            +news(
                            '',
                            imgNews_111,
                            '«Кристофер Робин» Марка Форстера: гимн взрослым фобиям и детским… ',
                            'Новости',
                            '24.07.2018',
                            '15:30',
                            '10'
                            )
                        .b-main__gallery-news.b-main__gallery-news--mobile
                            - for (var x = 0; x < 4; x++)
                                +news--aside(
                                '',
                                imgNews_Section_mini,
                                'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                                '24.07.2018',
                                '15:30',
                                '10'
                                )

                    .page__button Показать еще


        // блок с мини-новости
        .b-main__block-news-mini.js-stop-aside-scroll
            .container
                h2 Другие новости из мира
                .b-main__block-news-mini-wrap
                    - for (var x = 0; x < 8; x++)
                        +news--aside(
                        '',
                        imgNews_Section_mini,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )







