extends _layout_without_aside
block title
    title Поиск
block content
    -var sliderFullpageUp = './images/main/slider/main-full-slider.jpg'
    -var imgNews_1 = 'https://loremflickr.com/g/300/394/news'
    -var poster_1 = 'https://loremflickr.com/g/1290/520/news'
    -var imgNews_111 = 'https://loremflickr.com/g/300/394/news'
    -var imgNews_mini = 'https://loremflickr.com/g/300/392/news'
    -var imgNews_Section = 'https://loremflickr.com/g/302/392/news'
    -var imgNews_Section_mini = 'https://loremflickr.com/g/135/180/news'
    -var imgNews_aside = 'https://loremflickr.com/g/70/90/news'
    -var sliderFullPage_2 = 'http://eskipaper.com/images/scenic-wallpaper-38.jpg'

    .b-search
        .container
            .b-breadcrumbs
                a(href='').b-breadcrumbs__link Главная
                a(href='').b-breadcrumbs__link Поиск
            .b-search__header
                .b-search__title Нашлось 420 записей
                .b-search__label По запросу:
                    span «Как российские СМИ»


            .page__wrapper
                .page__content
                    .b-search__content
                        +news(
                        '',
                        imgNews_111,
                        '«Кристофер Робин» Марка Форстера: гимн взрослым фобиям и детским… ',
                        'Новости',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                        +news--mobile-hidden(
                        '',
                        imgNews_111,
                        '«Кристофер Робин» Марка Форстера: гимн взрослым фобиям и детским… ',
                        'Новости',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                        +news--mobile-hidden(
                        '',
                        imgNews_111,
                        '«Кристофер Робин» Марка Форстера: гимн взрослым фобиям и детским… ',
                        'Новости',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                        +news--mobile-hidden(
                        '',
                        imgNews_111,
                        '«Кристофер Робин» Марка Форстера: гимн взрослым фобиям и детским… ',
                        'Новости',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                        // три блока для декстопа(одинаковые)
                        +news--aside-with-hidden(
                        '',
                        imgNews_Section_mini,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                        +news--aside-with-hidden(
                        '',
                        imgNews_Section_mini,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                        +news--aside-with-hidden--last(
                        '',
                        imgNews_Section_mini,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                        .news.news--slider
                            a(href='').news__img
                                img(src=imgNews_1 alt='')
                            .news__content
                                h3
                                    a(href='') Архитектура: Здание-мост на Фарерских островах
                                .news__info
                                    a(href='').news__label.label Культура
                                    span
                                    a(href='')
                                        time 24.07.2018
                                            span 15:30
                                    a(href='').news__comments.comments 10
                        - for (var x = 0; x < 16; x++)
                            +news--aside(
                            '',
                            imgNews_Section_mini,
                            'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                            '24.07.2018',
                            '15:30',
                            '10'
                            )


                    .page__button Показать еще


        // блок с мини-новости
        .b-main__block-news-mini.js-stop-aside-scroll
            .container
                h2 Другие новости из мира
                .b-main__block-news-mini-wrap
                    - for (var x = 0; x < 8; x++)
                        +news--aside(
                        '',
                        imgNews_Section_mini,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )







