extends _layout_with_black_bg
block title
    title Видео репортажи
block content
    -var sliderFullpageUp = './images/main/slider/main-full-slider.jpg'
    -var imgVideo_1 = 'https://loremflickr.com/g/300/394/video'
    -var imgVideo_2 = 'https://loremflickr.com/g/300/300/video'
    -var imgVideo_3 = 'https://loremflickr.com/g/1000/400/video'
    -var imgNews_mini = 'https://loremflickr.com/g/300/392/news'
    -var imgNews_Section = 'https://loremflickr.com/g/302/392/news'
    -var imgNews_Section_mini = 'https://loremflickr.com/g/135/180/news'
    -var imgNews_aside = 'https://loremflickr.com/g/70/90/news'
    -var sliderFullPage_2 = 'http://eskipaper.com/images/scenic-wallpaper-38.jpg'

    .b-video
        .container
            .b-breadcrumbs
                a(href='').b-breadcrumbs__link Главная
                a(href='').b-breadcrumbs__link Видео репортажи
            .b-category__header
                h1 Видео репортажи

            .page__wrapper
                .page__content
                    .page__video
                        .video
                            a(href='').video__bg
                                img(src=imgVideo_1 alt='')
                            .video__content
                                a(href='http://www.youtube.com/watch?v=0O2aH4XLbto').video__play.popup-youtube
                                a(href='').video__link На Урале произошло землетрясение
                        .video__two-item
                            .video.video--half
                                a(href='http://www.youtube.com/watch?v=0O2aH4XLbto').video__bg.popup-youtube
                                    img(src=imgVideo_2 alt='')
                                    .video__play
                                .video__content
                                    a(href='').video__link Зашатались полки в магазине: новые кадры землетрясения на Урале
                            .video.video--half
                                a(href='http://www.youtube.com/watch?v=0O2aH4XLbto').video__bg.popup-youtube
                                    img(src=imgVideo_2 alt='')
                                    .video__play
                                .video__content
                                    a(href='').video__link Зашатались полки в магазине: новые кадры землетрясения на Урале

                        .video.video--full
                            a(href='').video__bg
                                img(src=imgVideo_3 alt='')
                            .video__content
                                a(href='http://www.youtube.com/watch?v=0O2aH4XLbto').video__play.popup-youtube
                                a(href='').video__link «Реакция»: Себастьян Курц в Киеве и скандал в Раде из-за Адольфа Гитлера

                        .video__two-item
                            .video.video--half
                                a(href='http://www.youtube.com/watch?v=0O2aH4XLbto').video__bg.popup-youtube
                                    img(src=imgVideo_2 alt='')
                                    .video__play
                                .video__content
                                    a(href='').video__link Зашатались полки в магазине: новые кадры землетрясения на Урале
                            .video.video--half
                                a(href='http://www.youtube.com/watch?v=0O2aH4XLbto').video__bg.popup-youtube
                                    img(src=imgVideo_2 alt='')
                                    .video__play
                                .video__content
                                    a(href='').video__link Зашатались полки в магазине: новые кадры землетрясения на Урале

                        .video
                            a(href='').video__bg
                                img(src=imgVideo_1 alt='')
                            .video__content
                                a(href='http://www.youtube.com/watch?v=0O2aH4XLbto').video__play.popup-youtube
                                a(href='').video__link На Урале произошло землетрясение


                        .video__two-item
                            .video.video--half
                                a(href='http://www.youtube.com/watch?v=0O2aH4XLbto').video__bg.popup-youtube
                                    img(src=imgVideo_2 alt='')
                                    .video__play
                                .video__content
                                    a(href='').video__link Зашатались полки в магазине: новые кадры землетрясения на Урале
                            .video.video--half
                                a(href='http://www.youtube.com/watch?v=0O2aH4XLbto').video__bg.popup-youtube
                                    img(src=imgVideo_2 alt='')
                                    .video__play
                                .video__content
                                    a(href='').video__link Зашатались полки в магазине: новые кадры землетрясения на Урале

                        .video
                            a(href='').video__bg
                                img(src=imgVideo_1 alt='')
                            .video__content
                                a(href='http://www.youtube.com/watch?v=0O2aH4XLbto').video__play.popup-youtube
                                a(href='').video__link На Урале произошло землетрясение

                    .page__button Показать еще

                .page__aside.aside.aside--top.js-fixed-sroll
                    +news--aside-lg(
                    '',
                    'https://loremflickr.com/g/300/392/news',
                    'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                    'Новости',
                    '24.07.2018',
                    '15:30',
                    '10'
                    )
                    - for (var x = 0; x < 1; x++)
                        +news--aside(
                        '',
                        imgNews_aside,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )

                    +news--aside-full--custom(
                    '',
                    imgNews_mini,
                    'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                    'Новости',
                    '24.07.2018',
                    '15:30',
                    '10'
                    )
                    - for (var x = 0; x < 1; x++)
                        +news--aside(
                        '',
                        imgNews_aside,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
                    - for (var x = 0; x < 1; x++)
                        +news--aside(
                        '',
                        imgNews_aside,
                        'Пол Маккартни вновь на обложки The Beatles «Abbey Road» - h3',
                        '24.07.2018',
                        '15:30',
                        '10'
                        )
        .js-stop-aside-scroll
