//* {
//  -webkit-font-smoothing: antialiased;
//}

body {
  &.hidden {
    overflow: hidden;
  }
}

.b-wrapper {
  position: relative;
}

.page {
  padding-top: 90px;

  @include bp($bp-540) {
    padding-top: 80px;
  }
}

.page__wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.page__content {
  width: calc(100% - 330px);
  text-align: center;

  @include bp($bp-1000) {
    width: 100%;
  }
}

.page__news {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page__aside {
  @include bp($bp-1000) {
    display: none;
  }

  & > div {
    &.block-fix {
      position: fixed;
    }

    &.block-stop {
      position: absolute;
    }
  }
}

.container {
  width: 100%;
  max-width: 1330px;
  padding: 0 20px;
  margin: 0 auto;

  @include bp($bp-1000) {
    max-width: 100%;
    padding: 0 34px;
  }

  @include bp($bp-712) {
    padding: 0 20px;
  }
}


.label, time, .comments {
  font-family: $Roboto;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: $black-40;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  outline: none;
}

.label {
  &:hover {
    text-decoration: underline;
  }
}

time {
  & > span {
    margin-left: 14px;
  }
}

.comments {
  position: relative;
  padding-left: 26px;

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    @include svg-i-comments_white;
  }
}

.page__bottom {
  display: flex;
  justify-content: center;

  @include bp($bp-410) {
    flex-direction: column;

    .page__button {
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .page__button--border {
      margin-top: 10px;
      margin-bottom: 40px;
    }
  }
}

.page__button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: $maize;
  font-family: $Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: $white;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 30px;
  overflow: hidden;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover{
    &::after{
      content: '';
      background: rgba(255,255,255,.4);
      position: absolute;
      width: 30px;
      height: 100px;
      top: 0;
      animation: slide-bar 0.5s forwards;
      transform: rotate(30deg);
      transform-origin: top right;
    }
  }
  @include bp($bp-540) {
    margin-top: 10px;
    margin-bottom: 40px;
  }
}
@keyframes slide-bar{
  0%{
    left: -10%;
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    left: 120%;
    opacity: 0;
  }
}

.page__video {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#map {
  width: 100%;
  height: 100%;
}

.hover-link {
  transition: .3s ease-in-out all;

  &:hover {
    color: $maize;
  }
}

//
// Modifier
//

.page--home {
  padding-top: 0;
}


.page--without-aside {

  .page__content {
    width: 100%;
  }

  .b-category__header {
    margin-right: 0;
  }
}

.page__button--border {
  margin-left: 20px;
  background-color: transparent;
  border: solid 1px $macaroni-and-cheese;
  color: $macaroni-and-cheese;

  &:hover {
    &::after{
      background-color: rgba(245, 180, 74, 0.4);
      animation: slide-bar 0.6s forwards;
    }
  }

  @include bp($bp-410) {
    width: 100%;
    margin-left: 0;
  }
}

.page__button--sm {
  padding: 6px 15px;
  margin-left: 75px;
  font-size: 13px;
}

.b-wrapper--alert {
  .b-menu {
    height: calc(100% - 60px - 40px);

    @include bp($bp-540) {
      height: calc(100% - 60px - 58px);
    }
  }
}
