$Roboto: 'Roboto', sans-serif; ;
$RobotoSlab: 'Roboto Slab', sans-serif;
$Courier: 'Courier';


//color
$black: #000;
$black-40: rgba(0, 0, 0, .4);
$black-60: rgba(0, 0, 0, .6);
$black-two: #1a1a1a;
$black-three: #242424;
$black-2: #202020;
$white: #fff;
$white-20: rgba(255, 255, 255, .2);
$white-30: rgba(255, 255, 255, .3);
$white-40: rgba(255, 255, 255, .4);
$white-60: rgba(255, 255, 255, .6);
$white-two: #e6e6e6;
$white-three: #d8d8d8;
$macaroni-and-cheese: #e8a427;
$maize: #f5b44a;
$warm-grey: #9a9a9a;
$warm-grey-two: #7f7f7f;
$sky-blue: #76bfff;
$dark-sky-blue: #3983da;
$greyish: #b9b9b9;


